.b-credit
  .b-title
    font-size 36px
    color #292a2c
    font-weight 300
  .b-text
    margin-bottom 70px

.b-mcg
  height 500px
  background url(../blocks/credit/mcgwalpaper.jpg)
  background-size cover
  padding-top 140px
  padding-bottom 105px
  .b-mcg-title
    color #fb8085
    font-size 48px
    margin-bottom 30px
    letter-spacing -2px
    font-weight 300
  .b-mcg-text
    font-size 18px
    margin-bottom 8px
    font-weight 300
    letter-spacing -1px
  .b-button
    margin-top 30px



.b-mcs
  padding-top 70px
  padding-bottom 100px
  .bank-container
    position relative
    .b-mcs__img
      width 290px
      position: absolute
      top 0
      left 0
      .refl
        overflow hidden
        height 60px
        width 100%
        position absolute
        z-index -1
        left 0
        opacity .2
        img
          position absolute
          z-index -1
          left 0
          -webkit-transform scaleY(-1)
          -moz-transform scaleY(-1)
          -o-transform scaleY(-1)
          -ms-transform scaleY(-1)
          transform scaleY(-1)
          -webkit-filter blur(2px)
          -webkit-box-shadow inset rgba(0,0,0,.8) 0 0 20px, inset #000 0 50px 100px
          -moz-box-shadow inset rgba(0,0,0,.8) 0 0 20px, inset #000 0 50px 100px
          box-shadow inset rgba(0,0,0,.8) 0 0 20px, inset #000 0 50px 100px
      img
        display inline-block
        vertical-align top
        margin-right 12%
    .b-mcs-promo
      display inline-block
      vertical-align top
      float right
      width 533px
    .b-mcg-title
      color #fb8085
      font-size 36px
      margin-bottom 10px
      letter-spacing 0
      font-weight 300
      a
        color inherit
        text-decoration none
    .b-mcg-text
      font-size 18px
      margin-bottom 8px
      font-weight 300
      color #69696a
      line-height 32px
      letter-spacing 0
    .b-button
      margin-top 15px



.b-card
  padding 70px 0
  height 500px
  background url(../blocks/credit/creditcard.jpg)
  background-size cover
  .bank-container
    padding-left 50px
    font-weight 300
    .b-card-list
      width 45%
      .b-card-list-item
        margin-bottom 23px
        .b-card-list-item-icon
          width 40px
          height 40px
          position absolute
          display inline-block
          margin-left -50px
          &.m-credit
            background url(../blocks/credit/sprite-card-adv.png) -20px 0
            margin-top -13px
          &.m-procent
            background url(../blocks/credit/sprite-card-adv.png) -20px -50px
          &.m-diary
            background url(../blocks/credit/sprite-card-adv.png) -20px -102px
          &.m-free
            background url(../blocks/credit/sprite-card-adv.png) -20px -145px
        .b-card-list-item-title
          font-size 18px
          color #fff
          margin-top 12px
          margin-bottom 3px
        .b-card-list-item-subtitle
          color #9dc2e2
          font-size 14px


.b-mobbank
  height 500px
  .bank-container
    padding 78px 0
    min-height 100%
    background url(../blocks/credit/iphone6.jpg)no-repeat
    background-position right 80px
    .b-mobbank-title
      font-size 36px
      font-weight 300
      margin-bottom 31px
    .b-mobbank-text
      color #69696a
      font-weight 300
      font-size 18px
      margin-bottom 11px
    .b-mobbank-picture
      margin-right 28px
      margin-top 39px

.teminal-list
  list-style none
  width 690px
  text-align left
  margin-bottom 50px
  padding-left 0
  li
    padding 30px 0
    color #69696a
    font-size 18px
    font-weight 300
    border-top: 1px solid #e0e0e0
    &:last-child
      border-bottom 1px solid #e0e0e0


.b-form-mortgage
  padding 50px 0 0
  position relative
  margin-top 65px
  background-color #f5f5f5
  &.m-consumer
    padding-bottom 60px
  .b-form-mortgage-cont
    text-align center
    margin-bottom 50px
  .b-button
    margin 0 auto
    display block
    text-transform inherit
  .b-form-mortgage-item
    width 48%
    float left
    margin-right 36px
    display -webkit-box
    display -webkit-flex
    display -ms-flexbox
    display flex
    flex-wrap wrap
    -webkit-box-pack justify
    -webkit-justify-content space-between
    -ms-flex-pack justify
    justify-content space-between
    margin-bottom 58px
    min-height 45px
    &.m-column
      flex-flow column
    &:nth-child(even)
      margin-right 0
    .b-form-mortgage-item-info
      &.m-simple
        input
          line-height 24px
          height 35px
          &#inPeriod,
          &#inProcent
            width 55px
          &#firstMoney,
          &#creditCost,
          &#monthMoney,
          &#flatCost
            width 120px
        label
          width 30px
          font-weight 300
          font-size 18px
          margin-left 10px
    .b-form-mortgage-item-text
      font-weight 500
      color #292a2c
      font-size 18px
      line-height 24px
      &.m-up
        margin-top -14px
  .b-form-mortgage-item-slider
    width 100%
    margin-top 20px
    &.noUi-target
      height 7px
      .noUi-base
        background-color #e67e22
      .noUi-origin
        background-color #fff
      .noUi-handle
        width 14px
        height 28px
        left -8px
        top -12px
        border none
        box-shadow none
        background url("../blocks/images/sprite-calc.png") no-repeat -18px -30px
        &:after
          content ""
          display none
          position absolute
          height 14px
          width 1px
          background #E8E7E6
          left 6px
          top 6px
        &:before
          display none
          top 24px
          left 0
          border 7px solid #f5f5f5
          border-top 6px solid #fff


.b-form-mortgage-item-protect
  position relative
  display inline-block
  margin-right 10px
  &:after
    content 'Не фиксировать'
    display inline-block
    color #7978b1
    font-size 12px
    cursor pointer
    font-weight 300
    border-bottom 1px dashed
    line-height 10px
  &.active
    &:after
      content 'Зафиксировать'
  &:before
    content ''
    background url("../blocks/images/sprite-calc.png") -15px -5px
    width 17px
    height 17px
    position absolute
    left -25px
    top 2px
  &.active
    &:before
      background url("../blocks/images/sprite-calc.png") 31px -5px

select::-ms-expand
  display none

#depositPeriod_input
  -webkit-appearance none
  -moz-appearance none
  text-indent 1px
  text-overflow ''

.b-calc-text
  margin-top 20px

.vklad-list-wrapper
  background-color #fff
  margin-top 40px

.checkbox-wrap
  width 70px
  height 35px
  background #fff
  border 1px solid #e0e0e0
  position relative
  border-radius 50px
  &:after
    content 'Да'
    color #000
    position absolute
    right 8px
    z-index 0
    font 12px/34px Arial, sans-serif
    font-weight bold
    text-shadow 1px 1px 0px rgba(255,255,255,.15)
  &:before
    content 'Нет'
    position absolute
    color #000
    left 10px
    z-index 0
    font 12px/34px Arial, sans-serif
    font-weight bold
  label
    display block
    width 26px
    height 26px
    cursor pointer
    position absolute
    top 3px
    left 37px
    z-index 1
    background #e67e22
    border-radius: 50%
    transition all 0.4s ease
  input[type=checkbox]
    visibility hidden
    &:checked + label
      left 7px


.checkboxMoney-wrap
  input
    visibility hidden
    display none
    &:checked + label
      background-color #e67e22
      color #fff
  label
    font-size 16pt
    font-weight 300
    line-height 40px
    background-color #fff
    padding 0 25px
    border-radius 25px
    cursor pointer


.b-news-item
  .b_breadcrumbs
    text-align center


.item3
  max-width 515px
.our
  a
    color inherit

.b-enter-link
  a
    width 290px
    font-size 24px
    color #fff
    text-decoration none
    margin-bottom 20px
    margin-left 44px
    margin-right 21px
    &.active
      color #b3e1ff
      border-bottom 1px dotted