input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0;
}


.disabled{
  pointer-events: none;
}

.checkersgroup{
  margin-bottom: 30px;
}

.justext{
  background-color: #fff;
  padding: 15px;
  border-radius: 15px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 500px;
  width: 500px;
  overflow: auto;
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.b-inline{
  margin-top: 34px;
  margin-bottom: 27px;
}
.b-inline .title{
  font-size: 14px;
  font-weight:500;
  color: #292a2c;
}
.b-inline label{
  font-size: 18px;
  font-weight: 300;
  color: #292a2c;
}
#superForma .checkers label{
  font-size: 18px;
  font-weight:300;

}
#superForma .checkers label:after{
  background: #e67e22;
  width: 10px;
  height: 10px;
  top: 6px;
  left: 4px;
}

#superForma .checkers label:before {
  background-color: #fff;    margin-top: 2px;
}
.firstrow .labels{
  font-weight: 600;
  color: #292a2c;
  font-size: 14px;
  display: inline-block;
  width: 156px;
  vertical-align: middle;
}
.half-group {
  margin-top: 34px;
}
.half-group .half {
  margin-bottom: 20px;
}
.firstrow {
  display: inline-block;
  width: 402px;
  vertical-align: top;

}
.secrow {
  display: inline-block;
  width: 450px;
  vertical-align: top;
  margin-left: 74px;
}
.secrow .labels{
  font-weight: 600;
  color: #292a2c;
  font-size: 14px;
  display: inline-block;
  width: 215px;
  vertical-align: middle;
}

.wrap{
  text-align: left;
  margin-top: 33px;
  margin-bottom: 22px;
}

.firstrow {
  display: inline-block;
  width: 402px;
}

.notFull input {
  margin-bottom: 0 !important;
}

#superForma .checkers input{
  height: 0;
  position: absolute;
}

#superForma input, #superForma textarea, #superForma select{
    height:60px;
}

#superForma textarea, #superForma select{
  margin-bottom: 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.tooltipik {
  text-decoration: underline;
  cursor: pointer;
  position: relative;
  top: -2px;
}

input::-webkit-inner-spin-button,
input::-webkit-outer-spin-button {
  -webkit-appearance none
  margin 0
}
input[type=number] {
  -moz-appearance:textfield;
}

textarea#f_camvydan, textarea#f_nameorg {
  resize: none;
}

button.b-button.m-white.js-maxvklad:hover {
  margin-top: 32px;
  margin-bottom: 38px;
}

.b-text .b-button.m-white.m-border.pleaseUp{
  margin: 40px 0px 0px;
}

button.b-button.m-white.js-maxvklad {
  margin-top: 30px;
  background: #2ecc71;
  color: #fff;
  margin-bottom: 40px;
}

/*form styles*/
#superForma {
  text-align: center;
  position: relative;
}
#superForma .checkers{
  margin:0;
}
#superForma fieldset .b-inline input {
  display: inline;
  width: auto;
}
#superForma fieldset {
  border: 0 none;
  border-radius: 3px;
  box-sizing: border-box;
  /*stacking fieldsets above each other*/
}



#superForma .secrow select{
  width: 229px;
}
button.b-button.m-white.nextstep.previous.action-button {
  margin-right: 20px;
}
/*Hide all except first fieldset*/
#superForma fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#msform textarea {
  padding: 5px;
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-weight: 300;
  font-size: 18px;
}

#superForma fieldset .checkers{
  text-align: left;
  padding-left: 25px;
}

#superForma input{
  height: 60px;
  margin-bottom: 20px;
}

.checkers.notFull {
  border: none !important;
  padding-left: 0;
}
.col-md-12.notFull {
  width: 915px;
}

label[for=aggryment]{
  left: 50%;
  transform: translateX(-50%);
  top: 10px;
}
/*headings*/
.fs-title {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}
.fs-subtitle {
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  color: #292a2c;
  margin-top: 0;
  margin-bottom: 20px;
}

.fs-subtitle span {
  font-weight: 400;

}
#superForma .triple{
  text-align: left;
}
#superForma .triple .halfa{
  width: 290px;
  margin-left: 26px;
}
#superForma .triple .halfa:first-child{
  margin-left: 0;
}

.halfa
  display inline-block
  position relative
  .glyphicon-chevron-down
    position absolute
    right 20px
    top 23px

.orderUp
  -webkit-box-shadow 0 2px 11px 3px rgba(0,0,0,0.2)
  -moz-box-shadow 0 2px 11px 3px rgba(0,0,0,0.2)
  box-shadow 0 2px 11px 3px rgba(0,0,0,0.2)
  display none
  z-index 10
  position fixed
  bottom 0
  width 100%

.b-clientpartner
  .b-clientpartner-item
    border-top 1px solid #e0e0e0
    padding-top 30px
    padding-bottom 30px
    .b-clientpartner_picture
      position relative
      width 25%
      display inline-block
      vertical-align top
      text-align center
      min-height 100px
      &:before
        content " "
        display inline-block
        height 100%
        width 1%
        vertical-align middle
      img
        display inline-block
        vertical-align middle
        width 155px
        margin 0
        padding 20px 14px
    .b-clientpartner_text
      display inline-block
      vertical-align top
      width 74%
      .b-clientpartner_text_head
        color #282828
        font-size 16px
        font-weight 500
        line-height 24px
      .b-clientpartner_text_link
        color #282828
        font-size 14px
        font-weight 300
        display inline-block
        margin-bottom 27px
        &:after
          content attr(href)
      .b-clientpartner_text_content
        color #69696a
        font-size 14px
        font-weight 300
        line-height 24px
#layerclose
  position fixed
  top 0
  left 0
  width 100%
  z-index 1
  height 100%

.b-orders-close
  font-size 40px
  right 28px
  top 28px
  position absolute
  cursor pointer
  background url("../blocks/images/closevac.png")
  width 32px
  height 32px


#superForma input::-webkit-input-placeholder {color:#292a2c;}
#superForma input::-moz-placeholder          {color:#292a2c;}/* Firefox 19+ */
#superForma input:-moz-placeholder           {color:#292a2c;}/* Firefox 18- */
#superForma input:-ms-input-placeholder      {color:#292a2c;}

#superForma .notFull input::-webkit-input-placeholder {color:#e67e22;}
#superForma .notFull input::-moz-placeholder          {color:#e67e22;}/* Firefox 19+ */
#superForma .notFull input:-moz-placeholder           {color:#e67e22;}/* Firefox 18- */
#superForma .notFull input:-ms-input-placeholder      {color:#e67e22;}

.notFull
  position relative
  border 1px solid #e67e22 !important
  display inline-block
  margin-bottom 20px
  padding 0
  select,
  label
    color #e67e22
  &::after
    content 'поле обязательно для заполнения'
    color #e67e22
    text-transform uppercase
    position absolute
    left 20px
    bottom -20px
    font-size 10px

label.error{
  border: none !important;
  position: absolute !important;
  color:rgba(0,0,0,0)!important;
  margin-left: -290px;
}

.b-inline.notFull{
  border none !important
}

.error
  position relative
  border 1px solid #ff0000 !important
  select,
  label,
  input
    color #ff0000
  &::after
    content 'проверьте правильность заполнения поля'
    color #ff0000
    text-transform uppercase
    position absolute
    left 15px
    top 60px
    white-space nowrap
    font-size 10px

.yeah
  display none