<div class="b-mainnews">
    <div class="b-mainnews-list">
        <div class="b-mainnews-item">
            <a href="#" class="b-mainnews-link">Уважаемые клиенты банка – держатели карт MasterCard! MasterCard представляет новое промо в рамках программы MasterCard Бесценные Города – его победитель может отправиться на финальный матч UEFA Champions League в Берлин</a>
            <div class="b-mainnews-date">28.01.2015</div>
        </div>
        <div class="b-mainnews-item">
            <a href="#" class="b-mainnews-link">Уважаемые клиенты банка – держатели карт MasterCard! MasterCard представляет новое промо в рамках программы MasterCard Бесценные Города – его победитель может отправиться на финальный матч UEFA Champions League в Берлин</a>
            <div class="b-mainnews-date">28.01.2015</div>
        </div>
        <div class="b-mainnews-item">
            <div class="b-mainnews-picture"><img src="blocks/about/photo.jpg"/></div>
            <a href="#" class="b-mainnews-link">Уважаемые клиенты! Сообщаем Вам о введении с 01.04.2015 года срочных банковских вкладов «Максимальный», «Клиентский», «Свобода действий»</a>
            <div class="b-mainnews-date">28.01.2015</div>
        </div>
    </div>
</div>

<div class="b-news-readmore">
    <div class="numbers">Показано 6 из 83 новостей</div>
    <a href="news.html" class="b-button m-white m-border m-arrow load_more_news">
        Показать еще
    </a>
    <div class="read-more">
        <input type="checkbox" id="c-allnews"/>
        <label for="c-allnews">Показать сразу все новости</label>
    </div>
</div>