    <div class="b-report-table-row clearfix">
        <div class="b-report-table-cell m-left">Text here</div>
        <div class="b-report-table-cell m-right"><a class="b-report-link" href="link here">
            <i class="b-report-link-ico">
                <svg version="1.1" id="PDF" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
         width="30px" height="30px" viewBox="0 0 80 80" enable-background="new 0 0 30 30" xml:space="preserve">
    <path d="M51,0H17c-2.209,0-4,1.791-4,4v17H4c-2.209,0-4,1.791-4,4v18c0,2.209,1.791,4,4,4h9v13c0,2.209,1.791,4,4,4h43
        c2.209,0,4-1.791,4-4V14C64,11.791,53.209,0,51,0z M60.487,13.5H53c-1.379,0-2.5-1.122-2.5-2.5V3h0.036
        C52.614,4.206,58.519,10.513,60.487,13.5z M3,43V25c0-0.551,0.449-1,1-1h39c0.552,0,1,0.449,1,1v18c0,0.552-0.448,1-1,1H4
        C3.449,44,3,43.552,3,43z M60,61H17c-0.551,0-1-0.448-1-1V47h27c2.209,0,4-1.791,4-4V25c0-2.209-1.791-4-4-4H16V4
        c0-0.551,0.449-1,1-1h30.5v8c0,3.033,2.468,5.5,5.5,5.5h8V60C61,60.552,60.552,61,60,61z"/>
    <path d="M13.84,27.766H9.309v11.375h2.281v-4.125h2.25c1.307,0,2.336-0.331,3.086-0.992s1.125-1.536,1.125-2.625
        c0-1.088-0.375-1.966-1.125-2.633C16.176,28.099,15.147,27.766,13.84,27.766z M15.285,32.738c-0.328,0.347-0.81,0.52-1.445,0.52
        h-2.25v-3.734h2.25c0.641,0,1.124,0.179,1.449,0.535c0.325,0.357,0.488,0.809,0.488,1.355
        C15.777,31.951,15.613,32.392,15.285,32.738z"/>
    <path d="M23.637,27.766H19.73v11.375h3.906c1.391,0,2.536-0.441,3.438-1.324c0.901-0.883,1.352-2.022,1.352-3.418v-1.883
        c0-1.391-0.451-2.53-1.352-3.418C26.173,28.21,25.027,27.766,23.637,27.766z M26.137,34.394c0,0.89-0.232,1.61-0.695,2.162
        c-0.464,0.552-1.104,0.827-1.922,0.827h-1.508v-7.859h1.508c0.817,0,1.458,0.276,1.922,0.827c0.463,0.552,0.695,1.267,0.695,2.146
        V34.394z"/>
    <polygon points="30.215,39.141 32.496,39.141 32.496,34.414 37.262,34.414 37.262,32.656 32.496,32.656 32.496,29.523
        38.059,29.523 38.059,27.766 30.215,27.766 "/>
    </svg>
            </i>
            Скачать PDF</a></div>
    </div>

<div class="b-report-table-row clearfix withBtn" >
    <a href="piece.html" class="b-button m-white m-border m-arrow remove_report m-uparrow">
        Свернуть
    </a>
</div>