<div class="fields_container fields_container_mobile">
    <div class="step form-step-wrapper credit-form-step1" id="step_1">
        <div id="errors-in-fields-report-container"></div>
        <input type="hidden" name="screen_resolution" value="1920x1080">

        <a href="#reseeding" class="stepOverlayBlocked" id="stepOverlayBlocked"></a>

        <div class="tcs-form-navigation form-mobile-hidden">
            <span class="text_size_l tcs-form-navigation-step-name" id="tcs-form-navigation-step-name-id1">Общая информация</span>
            <span class="text tcs-form-navigation-step-progress" id="tcs-form-navigation-step-progress-id1">шаг 1 из 4</span>
        </div>
        <!-- noindex -->
        <div id="reseeding" class="re-enroll tcs-form-reseeding-block tcs-form-notice-block">
            <div class="tcs-form-notice-block-status-pic"></div>

            <div class="text_size_xl tcs-form-title tcs-form-notice-block-title">Скорее всего, вы&nbsp;уже заполняли
                заявку на&nbsp;кредитную карту банка менее 3&nbsp;месяцев назад.
            </div>
            <div class="text_size_m tcs-form-notice-block-paragraf">Повторное заполнение заявки не&nbsp;увеличит
                вероятности одобрения выпуска карты банком. Если вы&nbsp;действительно заполняли заявку менее 3&nbsp;месяцев
                назад, то&nbsp;следующие ваши заявки будут отклонены автоматически.
            </div>

            <div class="text_size_m tcs-form-notice-block-paragraf">
                <a href="/status/">Проверить статус заявки</a> |
                <a href="#" id="new_application">Заполнить новую заявку</a>
            </div>
        </div>
        <!-- /noindex -->

        <input type="hidden" name="completed" value="0">
        <input type="hidden" name="product_name" value="cc_platinum">

        <desktop>
            <input type="hidden" name="form_view_mode" value="desktop">
        </desktop>

        <input type="hidden" id="ctx_source" name="ctx_source">
        <input type="hidden" id="ctx_block" name="ctx_block">
        <input type="hidden" id="ctx_position" name="ctx_position">
        <input type="hidden" name="app_type_id" value="1"> <input type="hidden" id="input_error_count"
                                                                  name="input_error_count" value="0">
        <input type="hidden" name="refplace" id="refplace" value="">
        <input type="hidden" id="cl" name="cl">
        <input type="hidden" id="youtube_time" name="youtube_time" value="">
        <input type="hidden" id="linked_id" name="linked_id" value="">
        <input type="hidden" id="session_count" name="session_count" value="4">
        <input type="hidden" id="secs_before_submission" name="secs_before_submission" value="">
        <input type="hidden" id="secs_on_form" name="secs_on_form" value="" data-timeload="1436528131">
        <input type="hidden" id="browser_name_detect" name="browser" value="Chrome">
        <input type="hidden" id="browser_version_detect" name="browser_version" value="43">
        <input type="hidden" name="tid" id="tid" value="3847d55ed2a86fa53dca6126188e25f3">
        <input type="hidden" name="partner_login" id="partner_login" value="">
        <input type="hidden" name="partner_id" id="partner_id" value="">
        <input type="hidden" name="master_partner_id" id="master_partner_id" value="">
        <input type="hidden" name="master_partner_login" id="master_partner_login" value="">
        <input type="hidden" id="promo_code" name="promo_code">

        <desktop>
            <div class="form-mobile-hidden">
                <section class="fields step-fields-wrapper">
                    <div class="text_size_l tcs-form-subtitle">Как вас зовут</div>
                    <div class="tcs-form-row tcs-form-row-surname">
        <span class="tcs-form-row-field">
            <label for="fio" class="tcs-form-label">
                ФИО<span class="tcs-form-field-requared">*</span>
            </label>
        </span>
        <span class="tcs-form-input-field">
            <input type="text" name="fio" id="fio" title="ФИО" maxlength="133"
                   class="tcs-input tcs-input-type-text tcs-gradient-light-gray tcs-input__fio">

            <input type="hidden" name="surname" id="surname">
            <input type="hidden" name="name" id="name">
            <input type="hidden" name="patronymic" id="patronymic">
        </span>
                    </div>


                    <div class="multiple-fields-wrapper">
                        <div class="tcs-form-row tcs-form-row-phone-mobile tcs-form-row-short293">
                <span class="tcs-form-row-field">
                    <label for="phone_mobile" class="tcs-form-label">
                        Мобильный телефон<span class="tcs-form-field-requared">*</span>
                    </label>
                </span>
                <span class="tcs-form-input-field tcs-form-input-field-short">
                    <input type="text" name="phone_mobile" id="phone_mobile" title="Мобильный телефон"
                           class="tcs-input tcs-input-type-text tcs-gradient-light-gray tcs-valid-phone-not-equal tcs-input-type-text-short293 tcs-masked-input tcs-masked-input-empty">
                </span>
                        </div>
                        <div class="tcs-form-row tcs-form-row-email tcs-form-row-short293">
                <span class="tcs-form-row-field">
                    <label for="email" class="tcs-form-label tcs-form-label_optional">
                        Электронная почта<span class="tcs-form-field-requared"></span>
                    </label>
                </span>
                <span class="tcs-form-input-field">
                    <input type="text" name="email" id="email" title="Электронная почта"
                           class="tcs-input tcs-input-type-text tcs-gradient-light-gray tcs-input-type-text-short293">
                </span>
                        </div>
                    </div>


                    <div class="tcs-form-row tcs-form-row-email">
        <span class="tcs-form-row-field">
            <label for="desired_credit_amount" class="tcs-form-label tcs-form-label_optional">
                Желаемая сумма кредита<span class="tcs-form-field-requared"></span>
            </label>
        </span>
        <span class="tcs-form-input-field">
            <input type="text" name="desired_credit_amount" id="desired_credit_amount" title="Желаемая сумма кредита"
                   class="tcs-input tcs-input-type-text tcs-gradient-light-gray">
        </span>
                    </div>
                </section>

            </div>
        </desktop>

        <div class="tcs-form-actions-wrapper">
            <div class="actions tcs-form-actions">
                <div class="forward actions tcs-form-actions-forward available form-mobile-hidden">
                    <a class="button js_forward" tabindex="0" href="#chromeFrameBug"
                       id="form-steps-1-button-next">Далее</a>
                </div>
                <div class="tcs-form-actions-fields-block">
                    <div class="tcs-form-actions-fields-block-form-row-agreement tcs-form-row tcs-form-row-agreement">
                                <span class="tcs-form-input-field">
                                    <div class="tcs-plugin-checkbox tcs-plugin-checkbox-checked"
                                         style="display: block; float: left; position: static; margin: 3px 3px 3px 4px;">
                                        <input checked="checked" type="checkbox" value="1" name="agreement"
                                               id="agreement" tabindex="0"
                                               class="checkbox checkbox_enabled tcs-form-actions-fields-block-form-row-agreement-checkbox form-mobile-agreement"
                                               title=""
                                               style="display: block; position: static; opacity: 0; margin: 0px; padding: 0px; width: 20px; height: 20px; outline: 0px;">
                                    </div>
                                    <label for="agreement" class="tcs-form-label tcs-form-agreement tcs-form-label-ie">
                                        Я согласен с <a href="#rules" tabindex="0"
                                                        class="tcs-form-actions-fields-block-form-row-agreement-rules Mobile-Popup"
                                                        id="show_rules">условиями передачи информации</a>
                                    </label>
                                </span>
                    </div>
                </div>
                <div class="forward actions tcs-form-actions-forward available form-mobile-visible">
                    <a class="button mobile-submit tcs-form-action-forward-button-mobile " href="#">Оформить карту</a>
                </div>
            </div>
        </div>

        <input type="hidden" name="referrer" id="referrer" value="">
        <input type="hidden" name="utm_source" id="utm_source" value="www.google.com" data-status="ok">
        <input type="hidden" name="utm_content" id="utm_content" value="" data-status="ok">
        <input type="hidden" name="utm_campaign" id="utm_campaign" value="" data-status="ok">
        <input type="hidden" name="utm_term" id="utm_term" value="(not provided)" data-status="ok">
        <input type="hidden" name="utm_medium" id="utm_medium" value="" data-status="ok">
        <input type="hidden" name="wm" id="wm" value="" data-status="ok">
        <input type="hidden" name="sid" id="sid" value="" data-status="ok">
        <input type="hidden" name="lp" id="lp" value="/credit/cards/tinkoff-platinum/">
        <input name="browser_fingerprint_raw" id="browser_fingerprint_raw" type="hidden"
               value="Mozilla/5.0 (Windows NT 6.1 WOW64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/43.0.2357.132 Safari/537.36###1080x1920x24###-180###true###true"><input
            name="iframe_url" id="iframe_url" type="hidden"
            value="https://www.tinkoff.ru/credit/cards/tinkoff-platinum/"><input name="device_pixel_ratio"
                                                                                 id="device_pixel_ratio" type="hidden"
                                                                                 value="1"><input type="hidden"
                                                                                                  value="desktop"
                                                                                                  id="device_type"
                                                                                                  name="device_type"><input
            type="hidden" value="generic" id="device_vendor" name="device_vendor"><input type="hidden"
                                                                                         value="windows pc"
                                                                                         id="device_model"
                                                                                         name="device_model"><input
            type="hidden" value="unknown" id="device_names" name="device_names"><input type="hidden" value="1024"
                                                                                       id="device_screen_width"
                                                                                       name="device_screen_width"><input
            type="hidden" value="768" id="device_screen_height" name="device_screen_height"><input type="hidden"
                                                                                                   value="12.1"
                                                                                                   id="device_screen_size"
                                                                                                   name="device_screen_size"><input
            type="hidden" value="windows" id="device_platform" name="device_platform"><input type="hidden" value="7"
                                                                                             id="device_platform_version"
                                                                                             name="device_platform_version"><input
            type="hidden" value="chrome" id="device_browser" name="device_browser"><input type="hidden" value="43.0"
                                                                                          id="device_browser_version"
                                                                                          name="device_browser_version"><input
            type="hidden" value="0" name="device_detection_error" id="device_detection_error"><input
            name="social_networks" id="social_networks" type="hidden" value="fb"></div>

    <div class="step form-step-wrapper credit-form-step2" id="step_2">

        <div class="tcs-form-navigation">
            <span class="text_size_l tcs-form-navigation-step-name" id="tcs-form-navigation-step-name-id2">Персональные данные</span>
            <span class="text tcs-form-navigation-step-progress"
                  id="tcs-form-navigation-step-progress-id2">шаг 2 из 4</span>
        </div>

        <div class="text_size_l tcs-form-subtitle">Паспортные данные</div>
        <div class="step-fields-wrapper">

            <section class="fields" id="pwg__auto">
                <div class="multiple-fields-wrapper">
                    <div class="tcs-form-row tcs-form-row-short293">
            <span class="tcs-form-row-field">
                <label for="id_division_code" class="tcs-form-label">
                    Код подразделения<span class="tcs-form-field-requared">*</span>
                </label>
            </span>
            <span class="tcs-form-input-field tcs-form-input-field-short">
                <input type="text" name="id_division_code" id="id_division_code"
                       class="tcs-input tcs-input-type-text tcs-input-type-text-short293 tcs-gradient-light-gray tcs-masked-input tcs-masked-input-empty"
                       title="Код подразделения">
            </span>
                    </div>
                    <div class="tcs-form-row tcs-form-row-short293">
            <span class="tcs-form-row-field">
                <label for="passport_date_given" class="tcs-form-label">
                    Дата выдачи<span class="tcs-form-field-requared">*</span>
                    <span class="tcs-form-row-field-hint tcs-form-row-message tcs-form-message-hint">(дд.мм.гггг)</span></label>
            </span>
            <span class="tcs-form-input-field tcs-form-input-field-short">
                <input type="text" name="passport_date_given" id="passport_date_given"
                       class="tcs-input tcs-input-type-text tcs-input-type-text-short293 tcs-gradient-light-gray tcs-masked-input tcs-masked-input-empty"
                       title="Дата выдачи">
            </span>
                    </div>
                </div>
                <div class="tcs-form-row">
        <span class="tcs-form-row-field tcs-form-row-field-idorganization">
            <label for="passport_who_given" class="tcs-form-label">
                Кем выдан<span class="tcs-form-field-requared">*</span>
            </label>
        </span>
        <span class="tcs-form-input-field tcs-form-input-field-short-ies">
            <textarea noresize="" type="text" name="passport_who_given" id="passport_who_given"
                      class="tcs-textarea tcs-input-type-text tcs-gradient-light-gray" title="Кем выдан"
                      style="overflow: hidden; word-wrap: break-word; resize: none; height: 45px;"></textarea>
        </span>
                </div>
                <div class="multiple-fields-wrapper">
                    <div class="tcs-form-row tcs-form-row-short293">
            <span class="tcs-form-row-field">
                <label for="id_code_number" class="tcs-form-label">
                    Серия и номер<span class="tcs-form-field-requared">*</span>
                </label>
            </span>
            <span class="tcs-form-input-field tcs-form-input-field-short">
                <input type="text" name="id_code_number" id="id_code_number" title="Паспорт"
                       class="tcs-input tcs-input-type-text tcs-input-type-text-short293 tcs-gradient-light-gray tcs-masked-input tcs-masked-input-empty">
            </span>
                    </div>
                    <div class="tcs-form-row tcs-form-row-short293">
            <span class="tcs-form-row-field">
                <label for="birthdate" class="tcs-form-label">
                    Дата рождения<span class="tcs-form-field-requared">*</span>
                    <span class="tcs-form-row-field-hint tcs-form-row-message tcs-form-message-hint">(дд.мм.гггг)</span></label>
            </span>
            <span class="tcs-form-input-field tcs-form-input-field-short">
                <input type="text" name="birthdate" id="birthdate"
                       class="tcs-input tcs-input-type-text tcs-input-type-text-short293 tcs-gradient-light-gray tcs-masked-input tcs-masked-input-empty"
                       title="Дата рождения">
            </span>
                    </div>
                </div>
                <div class="tcs-form-row">
        <span class="tcs-form-row-field">
            <label for="place_of_birth" class="tcs-form-label">
                Место рождения<span class="tcs-form-field-requared">*</span>
            </label>
        </span>
        <span class="tcs-form-input-field">
            <input type="text" name="place_of_birth" id="place_of_birth"
                   class="tcs-input tcs-input-type-text tcs-gradient-light-gray" title="Место рождения"><div
                class="tcs-data-list-wrapper"></div>
        </span>
                </div>
            </section>
            <section class="fields pre_address">
                <div class="text_size_l tcs-form-subtitle">Адрес по месту постоянной регистрации</div>

                <div class="tcs-form-row tcs-form-row-postalcode-reg">
                            <span class="tcs-form-row-field">
                                <label for="addresstype_registered_postal_code" class="tcs-form-label">
                                    Индекс
                                </label>
                            </span>
                            <span class="tcs-form-input-field tcs-form-input-field-short">
                                <input type="text" name="addresstype_registered_postal_code"
                                       id="addresstype_registered_postal_code"
                                       class="tcs-input tcs-input-type-text tcs-gradient-light-gray tcs-form-zip-js tcs-masked-input tcs-masked-input-empty"
                                       title="Индекс" autocomplete="off">
                            </span>
                </div>
                <div class="tcs-form-row">
                            <span class="tcs-form-row-field">
                                <label for="addresstype_registered_place" class="tcs-form-label">
                                    Регион<span class="tcs-form-field-requared">*</span>
                                </label>
                            </span>
                            <span class="tcs-form-input-field">
                                <input type="text" data-selected-id="" name="addresstype_registered_place"
                                       id="addresstype_registered_place"
                                       class="tcs-input tcs-input-type-text tcs-gradient-light-gray" title="Регион"
                                       autocomplete="off">
                                <div class="selector_holder" data-name="REGIONS" data-id="1"></div>
                            </span>
                </div>
            </section>
            <section class="fields address_variable tcs-form-row-address-handler_registered">
                <div class="tcs-form-row tcs-form-row-address-handler-hide">
                            <span class="tcs-form-row-field">
                                <label for="addresstype_registered_area" class="tcs-form-label">
                                    Район или город<span class="tcs-form-field-requared">*</span>
                                </label>
                            </span>
                            <span class="tcs-form-input-field">
                                <input type="text" name="addresstype_registered_area" id="addresstype_registered_area"
                                       class="tcs-input tcs-input-type-text tcs-gradient-light-gray"
                                       title="Район или город" autocomplete="off">
                                <div class="selector_holder"></div>
                            </span>
                </div>
                <div class="tcs-form-row tcs-form-row-address-handler-hide">
                            <span class="tcs-form-row-field">
                                <label for="addresstype_registered_city" class="tcs-form-label">
                                    Населенный пункт<span class="tcs-form-field-requared">*</span>
                                </label>
                            </span>
                            <span class="tcs-form-input-field">
                                <input type="text" name="addresstype_registered_city" id="addresstype_registered_city"
                                       class="tcs-input tcs-input-type-text tcs-gradient-light-gray"
                                       title="Населенный пункт" autocomplete="off">
                                <div class="selector_holder"></div>
                            </span>
                </div>
            </section>
            <section class="fields address_permanent tcs-form-row-address-handler_registered">
                <div class="tcs-form-row tcs-form-row-address-handler-hide">
                            <span class="tcs-form-row-field">
                                <label for="addresstype_registered_street" class="tcs-form-label">
                                    Улица<span class="tcs-form-field-requared">*</span>
                                </label>
                            </span>
                            <span class="tcs-form-input-field">
                                <input type="text" name="addresstype_registered_street"
                                       id="addresstype_registered_street"
                                       class="tcs-input tcs-input-type-text tcs-gradient-light-gray" title="Улица"
                                       autocomplete="off">
                                <div class="selector_holder"></div>
                            </span>
                </div>
                <div class="multiple-fields-wrapper">
                    <div class="tcs-form-row tcs-form-row-short139 tcs-form-row-address-handler-hide">
                                <span class="tcs-form-row-field">
                                    <label for="addresstype_registered_building" class="tcs-form-label">
                                        Дом<span class="tcs-form-field-requared">*</span>
                                    </label>
                                </span>
                                <span class="tcs-form-input-field">
                                    <input maxlength="7" type="text" name="addresstype_registered_building"
                                           id="addresstype_registered_building"
                                           class="tcs-input tcs-input-type-text tcs-input-type-text-short139 tcs-gradient-light-gray"
                                           title="Дом">
                                </span>
                    </div>

                    <div class="tcs-form-row tcs-form-row-short139 tcs-form-row-address-handler-hide">
                                <span class="tcs-form-row-field">
                                    <label for="addresstype_registered_corpus"
                                           class="tcs-form-label tcs-form-label_optional">
                                        Корпус<span class="tcs-form-field-requared"></span>
                                    </label>
                                </span>
                                <span class="tcs-form-input-field">
                                    <input maxlength="10" type="text" name="addresstype_registered_corpus"
                                           title="Корпус" id="addresstype_registered_corpus"
                                           class="tcs-input tcs-input-type-text tcs-input-type-text-short139 tcs-gradient-light-gray">
                                    <div class="selector_holder"></div>
                                </span>
                    </div>

                    <div class="tcs-form-row tcs-form-row-short139 tcs-form-row-address-handler-hide">
                                <span class="tcs-form-row-field">
                                    <label for="addresstype_registered_stroenie"
                                           class="tcs-form-label tcs-form-label_optional">
                                        Строение<span class="tcs-form-field-requared"></span>
                                    </label>
                                </span>
                                <span class="tcs-form-input-field">
                                    <input maxlength="10" type="text" name="addresstype_registered_stroenie"
                                           id="addresstype_registered_stroenie"
                                           class="tcs-input tcs-input-type-text tcs-input-type-text-short139 tcs-gradient-light-gray"
                                           title="Строение">
                                </span>
                    </div>

                    <div class="tcs-form-row tcs-form-row-short139 tcs-form-row-address-handler-hide">
                                <span class="tcs-form-row-field">
                                    <label for="addresstype_registered_flat" class="tcs-form-label">
                                        Квартира<span class="tcs-form-field-requared">*</span>
                                    </label>
                                </span>
                                <span class="tcs-form-input-field tcs-form-input-field-short">
                                    <input maxlength="9" type="text" name="addresstype_registered_flat"
                                           id="addresstype_registered_flat"
                                           class="tcs-input tcs-input-type-text tcs-input-type-text-short139 tcs-gradient-light-gray"
                                           title="Квартира">
                                </span>
                    </div>
                </div>
            </section>
            <section class="fields">
                <div class="text_size_l tcs-form-subtitle">Адрес фактического проживания</div>
                <div class="tcs-form-row">
                            <span class="tcs-form-row-field">
                                <label class="tcs-form-label"><span
                                        class="tcs-form-field-requared"></span></label></span>
                                <span class="tcs-form-input-field tcs-form-input-field-checkbox">
                                    <div class="tcs-plugin-checkbox tcs-plugin-checkbox-checked"
                                         style="display: block; float: left; position: static; margin: 3px 3px 3px 4px;">
                                        <input checked="checked" type="checkbox" value="1" name="reg_addr_is_home_addr"
                                               id="reg_addr_is_home_addr" class="checkbox checkbox_enabled" title=""
                                               style="display: block; position: static; opacity: 0; margin: 0px; padding: 0px; width: 20px; height: 20px; outline: 0px;">
                                    </div>
                                    <label for="reg_addr_is_home_addr"
                                           class="tcs-form-label tcs-form-agreement tcs-form-label-ie">
                                        Совпадает с адресом постоянной регистрации
                                    </label>
                                </span>
                    <span class="tcs-form-row-message"></span>
                </div>
            </section>
            <div class="dn tcs-form-row-dn">
                <section class="fields pre_address">
                    <div class="tcs-form-row">
                                <span class="tcs-form-row-field">
                                    <label for="addresstype_home_postal_code" class="tcs-form-label">
                                        Индекс
                                    </label>
                                </span>
                                <span class="tcs-form-input-field tcs-form-input-field-short">
                                    <input type="text" name="addresstype_home_postal_code"
                                           id="addresstype_home_postal_code"
                                           class="tcs-input tcs-input-type-text tcs-gradient-light-gray tcs-form-zip-js tcs-masked-input tcs-masked-input-empty"
                                           title="Индекс" autocomplete="off">
                                </span>
                    </div>
                    <div class="tcs-form-row">
                                <span class="tcs-form-row-field">
                                    <label for="addresstype_home_place" class="tcs-form-label">
                                        Регион<span class="tcs-form-field-requared">*</span>
                                    </label>
                                </span>
                                <span class="tcs-form-input-field">
                                    <input type="text" data-selected-id="" name="addresstype_home_place"
                                           id="addresstype_home_place"
                                           class="tcs-input tcs-input-type-text tcs-gradient-light-gray" title="Регион"
                                           autocomplete="off">
                                    <div class="selector_holder" data-name="REGIONS" data-id="1"></div>
                                </span>
                    </div>
                </section>
                <section class="fields address_variable tcs-form-row-address-handler_home">
                    <div class="tcs-form-row tcs-form-row-address-handler-hide">
                                <span class="tcs-form-row-field">
                                    <label for="addresstype_home_area" class="tcs-form-label">
                                        Район или город<span class="tcs-form-field-requared">*</span>
                                    </label>
                                </span>
                                <span class="tcs-form-input-field">
                                    <input type="text" name="addresstype_home_area" id="addresstype_home_area"
                                           class="tcs-input tcs-input-type-text tcs-gradient-light-gray"
                                           title="Район или город" autocomplete="off">
                                    <div class="selector_holder"></div>
                                </span>
                    </div>
                    <div class="tcs-form-row tcs-form-row-address-handler-hide">
                                <span class="tcs-form-row-field">
                                    <label for="addresstype_home_city" class="tcs-form-label">
                                        Населенный пункт<span class="tcs-form-field-requared">*</span>
                                    </label>
                                </span>
                                <span class="tcs-form-input-field">
                                    <input type="text" name="addresstype_home_city" id="addresstype_home_city"
                                           class="tcs-input tcs-input-type-text tcs-gradient-light-gray"
                                           title="Населенный пункт" autocomplete="off">
                                    <div class="selector_holder"></div>
                                </span>
                    </div>
                </section>
                <section class="fields address_permanent tcs-form-row-address-handler_home">
                    <div class="tcs-form-row tcs-form-row-address-handler-hide">
                                <span class="tcs-form-row-field">
                                    <label for="addresstype_home_street" class="tcs-form-label">
                                        Улица<span class="tcs-form-field-requared">*</span>
                                    </label>
                                </span>
                                <span class="tcs-form-input-field">
                                    <input type="text" name="addresstype_home_street" id="addresstype_home_street"
                                           class="tcs-input tcs-input-type-text tcs-gradient-light-gray" title="Улица"
                                           autocomplete="off">
                                    <div class="selector_holder"></div>
                                </span>
                    </div>
                    <div class="multiple-fields-wrapper">
                        <div class="tcs-form-row tcs-form-row-short139 tcs-form-row-address-handler-hide">
                                    <span class="tcs-form-row-field">
                                        <label for="addresstype_home_building" class="tcs-form-label">
                                            Дом<span class="tcs-form-field-requared">*</span>
                                        </label>
                                    </span>
                                    <span class="tcs-form-input-field">
                                        <input maxlength="7" type="text" name="addresstype_home_building"
                                               id="addresstype_home_building"
                                               class="tcs-input tcs-input-type-text tcs-input-type-text-short139 tcs-gradient-light-gray"
                                               title="Дом">
                                    </span>
                        </div>

                        <div class="tcs-form-row tcs-form-row-short139 tcs-form-row-address-handler-hide">
                                    <span class="tcs-form-row-field">
                                        <label for="addresstype_home_corpus"
                                               class="tcs-form-label tcs-form-label_optional">
                                            Корпус<span class="tcs-form-field-requared"></span>
                                        </label>
                                    </span>
                                    <span class="tcs-form-input-field">
                                        <input maxlength="10" type="text" name="addresstype_home_corpus" title="Корпус"
                                               id="addresstype_home_corpus"
                                               class="tcs-input tcs-input-type-text tcs-input-type-text-short139 tcs-gradient-light-gray">
                                        <div class="selector_holder"></div>
                                    </span>
                        </div>

                        <div class="tcs-form-row tcs-form-row-short139 tcs-form-row-address-handler-hide">
                                    <span class="tcs-form-row-field">
                                        <label for="addresstype_home_stroenie"
                                               class="tcs-form-label tcs-form-label_optional">
                                            Строение<span class="tcs-form-field-requared"></span>
                                        </label>
                                    </span>
                                    <span class="tcs-form-input-field">
                                        <input maxlength="10" type="text" name="addresstype_home_stroenie"
                                               id="addresstype_home_stroenie"
                                               class="tcs-input tcs-input-type-text tcs-input-type-text-short139 tcs-gradient-light-gray"
                                               title="Строение">
                                    </span>
                        </div>

                        <div class="tcs-form-row tcs-form-row-short139 tcs-form-row-address-handler-hide">
                                    <span class="tcs-form-row-field">
                                        <label for="addresstype_home_flat" class="tcs-form-label">
                                            Квартира<span class="tcs-form-field-requared">*</span>
                                        </label>
                                    </span>
                                    <span class="tcs-form-input-field tcs-form-input-field-short">
                                        <input maxlength="9" type="text" name="addresstype_home_flat"
                                               id="addresstype_home_flat"
                                               class="tcs-input tcs-input-type-text tcs-input-type-text-short139 tcs-gradient-light-gray"
                                               title="Квартира">
                                    </span>
                        </div>
                    </div>
                </section>
            </div>

            <section class="fields">
                <div class="text_size_l tcs-form-subtitle">Стационарный телефон</div>

                <div id="tcs-form-home-phone-block">
                    <div class="tcs-form-row tcs-form-row-home-phone">
                                <span class="tcs-form-row-field">
                                    <label for="phone_home_field" class="tcs-form-label" id="phone-home-field-label">
                                        8 (код города) номер телефона<span class="tcs-form-field-requared">*</span>
                                    </label>
                                </span>
                                <span class="tcs-form-input-field tcs-form-input-field-short">
                                    <input type="text" name="phone_home_field" id="phone_home_field"
                                           class="tcs-input tcs-input-type-text tcs-gradient-light-gray tcs-valid-phone-not-equal tcs-masked-input tcs-masked-input-empty"
                                           title="Стационарный телефон по месту проживания или регистрации">

                                    <span class="text_size_12  tcs-form-row  tcs-form-row__tooltip">Введите номер отличный от&nbsp;мобильного</span>
                                    <input type="hidden" name="phone_home" id="phone_home" value=""
                                           class="tcs-masked-input tcs-masked-input-empty">
                                    <input type="hidden" name="additional_phone_home" id="additional_phone_home"
                                           value="" class="tcs-masked-input tcs-masked-input-empty">
                                    <input type="hidden" name="no_home_phone" id="no_home_phone" value="0">
                                    <input type="hidden" name="additional_phone_home_comment"
                                           id="additional_phone_home_comment" value="">
                                </span>
                    </div>

                    <div class="multiple-fields-wrapper">
                        <div class="tcs-form-row tcs-form-row-formless">
                                    <span class="tcs-form-input-field tcs-form-input-field-checkbox tcs-form-nowrap">
                                        <div class="tcs-plugin-radio tcs-plugin-radio-checked"
                                             style="display: block; float: left; position: static; margin: 3px 3px 0px 5px;">
                                            <input type="radio" name="homePhoneType" id="homePhoneType1" value="1"
                                                   checked="checked" title="Мой номер" tabindex="0"
                                                   class="tcs-input checkbox tcs-form-home-phone-type-change"
                                                   style="display: inline; opacity: 0; outline: 0px; margin: 0px; padding: 0px; width: 15px; height: 13px;">
                                        </div>
                                        <label for="homePhoneType1">Мой номер</label>
                                    </span>
                        </div>

                        <div class="tcs-form-row tcs-form-row-formless">
                                    <span class="tcs-form-input-field tcs-form-input-field-checkbox tcs-form-nowrap">
                                        <div class="tcs-plugin-radio"
                                             style="display: block; float: left; position: static; margin: 3px 3px 0px 5px;">
                                            <input type="radio" name="homePhoneType" id="homePhoneType2" tabindex="0"
                                                   value="2" title="Номер родственника" data-titl="Имя родственника"
                                                   class="tcs-input checkbox tcs-form-home-phone-type-change"
                                                   style="display: inline; opacity: 0; outline: 0px; margin: 0px; padding: 0px; width: 15px; height: 13px;">
                                        </div>
                                        <label for="homePhoneType2">Номер родственника</label>
                                    </span>
                        </div>

                        <div class="tcs-form-row tcs-form-row-formless">
                                    <span class="tcs-form-input-field tcs-form-input-field-checkbox tcs-form-nowrap">
                                        <div class="tcs-plugin-radio"
                                             style="display: block; float: left; position: static; margin: 3px 3px 0px 5px;">
                                            <input type="radio" name="homePhoneType" id="homePhoneType3" tabindex="0"
                                                   value="3" title="Номер друга / знакомого"
                                                   data-titl="Имя друга / знакомого"
                                                   class="tcs-input checkbox tcs-form-home-phone-type-change"
                                                   style="display: inline; opacity: 0; outline: 0px; margin: 0px; padding: 0px; width: 15px; height: 13px;">
                                        </div>
                                        <label for="homePhoneType3">Номер друга / знакомого</label>
                                    </span>
                        </div>
                    </div>

                    <div class="tcs-form-row tcs-form-row-additional-phone-home-comment" id="additional_phone_home_row">
                                <span class="tcs-form-row-field">
                                    <label for="additional_phone_home_comment_field"
                                           class="tcs-form-label tcs-form-label_optional">
                                        <span id="additional_phone_home_row_label">Имя родственника</span>
                                        <span class="tcs-form-field-requared"></span>
                                    </label>
                                </span>
                                <span class="tcs-form-input-field tcs-form-input-field-short">
                                    <input type="text" name="additional_phone_home_comment_field"
                                           id="additional_phone_home_comment_field"
                                           class="tcs-input tcs-input-type-text tcs-valid-phone-not-equal" title="Имя">
                                </span>
                    </div>
                </div>
            </section>

        </div>

        <div class="tcs-form-actions-wrapper">
            <div class="actions tcs-form-actions">
                <div class="forward actions tcs-form-actions-forward available">
                    <a class="button js_forward" href="#chromeFrameBug">Далее</a>
                </div>
                <div class="backward tcs-form-actions-backward">
                    <a href="#" class="js_backward tcs-form-actions-backward-link">Назад</a>
                </div>
            </div>
        </div>
    </div>

    <div class="step form-step-wrapper credit-form-step3" id="step_3">
        <div class="tcs-form-navigation">
            <span class="text_size_l tcs-form-navigation-step-name"
                  id="tcs-form-navigation-step-name-id3">Место работы</span>
            <span class="text tcs-form-navigation-step-progress"
                  id="tcs-form-navigation-step-progress-id3">шаг 3 из 4</span>
        </div>
        <div class="step-fields-wrapper">

            <div class="text_size_l tcs-form-subtitle">Информация о работе</div>

            <div class="tcs-form-paragraf">Правильное заполнение этих полей увеличит шансы на&nbsp;одобрение заявки,
                <br> а&nbsp;также положительно повлияет на&nbsp;сумму кредитного лимита.
            </div>

            <div id="employment-type-block">
                <section class="fields">
                    <!--    According to AD-724 -->
                    <div class="tcs-form-row tcs-form-row-select">
                                <span class="tcs-form-row-field tcs-form-row-field-select">
                                    <label for="employment_type" class="tcs-form-label">
                                        Выберите тип занятости<span class="tcs-form-field-requared"></span>
                                    </label>
                                </span>
                                <span class="tcs-form-input-field tcs-gradient-light-gray-for-select">
                                    <select name="employment_type" id="employment_type" class="tcs-select"
                                            title="Тип занятости" data-plugin-select="true"
                                            style="visibility: hidden; position: absolute;">
                                        <option value="work" selected="">Работаю в организации</option>
                                        <option value="businessman">Собственный бизнес</option>
                                        <option value="not_work">Не работаю</option>
                                    </select><div class="tcs-plugin-select2" tabindex="0" style="width: 598px;">
                                    <div class="tcs-plugin-select2__current-value">Работаю в организации</div>
                                    <div class="tcs-plugin-select2__arrow"></div>
                                </div>
                                </span>
                        <span class="tcs-form-row-message"></span>
                    </div>

                    <div class="tcs-form-row tcs-form-row-businessman" style="display: none;">
                                <span class="tcs-form-input-field tcs-form-input-field-checkbox">
                                    <div class="tcs-plugin-checkbox"
                                         style="display: block; float: left; position: static; margin: 3px 3px 3px 4px;">
                                        <input type="checkbox" name="not_official" id="not_official" value="0"
                                               class="checkbox" title="Неофициальный бизнес"
                                               style="display: block; position: static; opacity: 0; margin: 0px; padding: 0px; width: 20px; height: 20px; outline: 0px;">
                                    </div>
                                    <label for="not_official" class="tcs-form-amnesia-row-label">
                                        Неофициальный
                                    </label>
                                </span>
                    </div>

                    <div class="tcs-form-row tcs-form-row-businessman tcs-form-row-work" style="display: block;">
                                <span class="tcs-form-row-field tcs-form-row-field-accountName">
                                    <label for="work_name" class="tcs-form-label">
                                        Название организации<span class="tcs-form-field-requared">*</span>
                                    </label>
                                </span>
                                <span class="tcs-form-input-field">
                                    <textarea noresize="" type="text" name="work_name" id="work_name"
                                              title="Наименование организации"
                                              class="tcs-textarea tcs-input-type-text tcs-gradient-light-gray"
                                              maxlength="150"
                                              style="overflow: hidden; word-wrap: break-word; resize: none; height: 45px;"></textarea>
                                </span>
                        <span class="tcs-form-row-message"></span>
                    </div>

                    <div class="work_site_url-block">
                        <div class="tcs-form-row tcs-form-row-work">
                                    <span class="tcs-form-row-field">
                                        <label for="work_site_url" class="tcs-form-label">Сайт организации<span
                                                class="tcs-form-field-requared"></span></label>
                                    </span>
                                    <span class="tcs-form-input-field">
                                        <input type="text" name="work_site_url" id="work_site_url" maxlength="100"
                                               class="tcs-input tcs-input-type-text tcs-gradient-light-gray"
                                               title="Сайт организации">
                                    </span>
                        </div>
                    </div>

                    <div class="multiple-fields-wrapper tcs-form-row-businessman tcs-form-row-work tcs-form-row-extphone"
                         style="display: block;">
                        <div class="tcs-form-row tcs-form-row-short293">
                                    <span class="tcs-form-row-field">
                                        <label for="phone_work" class="tcs-form-label">
                                            Рабочий телефон<span class="tcs-form-field-requared">*</span>
                                        </label>
                                    </span>
                                    <span class="tcs-form-input-field tcs-form-input-field-short tcs-form-field-extphone">
                                        <input type="text" name="phone_work" id="phone_work"
                                               class="tcs-input tcs-input-type-text tcs-input-type-text-short293 tcs-valid-phone-not-equal tcs-gradient-light-gray tcs-masked-input tcs-masked-input-empty"
                                               title="Рабочий телефон">
                                        <span class="tcs-form-row  tcs-form-row__tooltip  tcs-form-row__tooltip_small">Введите номер отличный от&nbsp;мобильного и&nbsp;стационарного</span>
                                    </span>
                        </div>
                        <div class="tcs-form-row tcs-form-row-short293">
                                    <span class="tcs-form-row-field">
                                        <label for="phone_work_ext" class="tcs-form-label tcs-form-label_optional">
                                            Добавочный номер<span class="tcs-form-field-requared"></span>
                                        </label>
                                    </span>
                                    <span class="tcs-form-input-field tcs-form-input-field-short">
                                        <input type="text" name="phone_work_ext" id="phone_work_ext"
                                               class="tcs-input tcs-input-type-text tcs-input-type-text-short293 tcs-gradient-light-gray"
                                               title="Добавочный номер">
                                        <span class="text_size_12 tcs-form-row  tcs-form-row__tooltip">Введите не&nbsp;более 9&nbsp;символов</span>
                                    </span>
                        </div>
                    </div>

                    <div class="tcs-form-row  tcs-form-row-select tcs-form-row-work">
                                <span class="tcs-form-row-field">
                                    <label for="work_position" class="tcs-form-label">
                                        Занимаемая должность<span class="tcs-form-field-requared">*</span>
                                    </label>
                                </span>
                                <span class="tcs-form-input-field tcs-gradient-light-gray-for-select">
                                    <select name="work_position" id="work_position" class="tcs-select"
                                            title="Занимаемая должность" data-plugin-select="true"
                                            style="visibility: hidden; position: absolute;">
                                        <option value="0">Не выбрано</option>
                                        <option value="1">Руководитель организации</option>
                                        <option value="2">Руководитель подразделения</option>
                                        <option value="3">Неруководящий сотрудник - специалист</option>
                                        <option value="6">Неруководящий сотрудник - рабочий</option>
                                        <option value="4">Неруководящий сотрудник - обсл. персонал</option>
                                    </select><div class="tcs-plugin-select2" tabindex="0" style="width: 598px;">
                                    <div class="tcs-plugin-select2__current-value">Не выбрано</div>
                                    <div class="tcs-plugin-select2__arrow"></div>
                                </div>
                                </span>
                    </div>

                    <div class="work_position-dependency">
                        <div class="tcs-form-row tcs-form-row-work">
                                    <span class="tcs-form-row-field">
                                        <label for="work_position_text" class="tcs-form-label">
                                            Название занимаемой должности<span class="tcs-form-field-requared"></span>
                                        </label>
                                    </span>
                                    <span class="tcs-form-input-field">
                                        <input type="text" name="work_position_text" id="work_position_text"
                                               maxlength="100"
                                               class="tcs-input tcs-input-type-text tcs-gradient-light-gray"
                                               title="Занимаемая должность"><div class="tcs-data-list-wrapper"></div>
                                    </span>
                        </div>
                    </div>

                    <div class="tcs-form-row  tcs-form-row-select tcs-form-row-work">
                                <span class="tcs-form-row-field">
                                    <label for="account_duration" class="tcs-form-label">
                                        Стаж работы на последнем месте<span class="tcs-form-field-requared">*</span>
                                    </label>
                                </span>
                                <span class="tcs-form-input-field tcs-gradient-light-gray-for-select">
                                    <select name="account_duration" id="account_duration"
                                            class="tcs-select tcs-form-ignore-select"
                                            title="Стаж работы на последнем месте" data-plugin-select="true"
                                            style="visibility: hidden; position: absolute;">
                                        <option value="0">Не выбрано</option>
                                        <option value="1">6 месяцев и меньше</option>
                                        <option value="2">0,5-3 года</option>
                                        <option value="3">3-5 лет</option>
                                        <option value="4">5-7 лет</option>
                                        <option value="5">7 и более лет</option>
                                    </select><div class="tcs-plugin-select2" tabindex="0" style="width: 598px;">
                                    <div class="tcs-plugin-select2__current-value">Не выбрано</div>
                                    <div class="tcs-plugin-select2__arrow"></div>
                                </div>
                                </span>
                    </div>

                    <div>
                        <input type="hidden" name="account_duration_years" id="account_duration_years" value="">
                        <input type="hidden" name="account_duration_months" id="account_duration_months" value="">
                    </div>
                </section>
                <div id="tcs-businessman-work-block">
                    <section class="fields">
                        <div class="text_size_l tcs-form-subtitle">Рабочий адрес</div>
                        <!--    According to AD-724 -->

                        <div class="tcs-form-row tcs-form-row-businessman" style="display: none;">
                                    <span class="tcs-form-input-field tcs-form-input-field-checkbox">
                                        <div class="tcs-plugin-checkbox"
                                             style="display: block; float: left; position: static; margin: 3px 3px 3px 4px;">
                                            <input type="checkbox" value="0" name="same_reg_home_org"
                                                   id="same_reg_home_org" class="checkbox checkbox_disabled" title=""
                                                   style="display: block; position: static; opacity: 0; margin: 0px; padding: 0px; width: 20px; height: 20px; outline: 0px;">
                                        </div>
                                        <label for="same_reg_home_org" class="tcs-form-amnesia-row-label">
                                            Совпадает с адресом регистрации
                                        </label>
                                    </span>
                        </div>
                    </section>

                    <div class="dn tcs-form-row-dn tcs-form-block-show">
                        <section class="fields pre_address">

                            <div class="tcs-form-row tcs-form-row-postalcode-reg">
                                        <span class="tcs-form-row-field">
                                            <label for="addresstype_work_postal_code" class="tcs-form-label">
                                                Индекс<span class="tcs-form-field-requared"></span>
                                            </label>
                                        </span>
                                        <span class="tcs-form-input-field tcs-form-input-field-short">
                                            <input type="text" name="addresstype_work_postal_code"
                                                   id="addresstype_work_postal_code"
                                                   class="tcs-input tcs-input-type-text tcs-gradient-light-gray tcs-form-zip-js tcs-masked-input tcs-masked-input-empty"
                                                   title="Индекс" autocomplete="off">
                                        </span>
                            </div>
                            <div class="tcs-form-row">
                                        <span class="tcs-form-row-field">
                                            <label for="addresstype_work_place" class="tcs-form-label">
                                                Регион<span class="tcs-form-field-requared">*</span>
                                            </label>
                                        </span>
                                        <span class="tcs-form-input-field">
                                            <input type="text" data-selected-id="" name="addresstype_work_place"
                                                   id="addresstype_work_place"
                                                   class="tcs-input tcs-input-type-text tcs-gradient-light-gray"
                                                   title="Регион" autocomplete="off">
                                            <div class="selector_holder" data-name="REGIONS" data-id="1"></div>
                                        </span>
                            </div>
                        </section>
                        <section class="fields address_variable tcs-form-row-address-handler_work">
                            <div class="tcs-form-row tcs-form-row-address-handler-hide">
                                        <span class="tcs-form-row-field">
                                            <label for="addresstype_work_area" class="tcs-form-label">
                                                Район или город<span class="tcs-form-field-requared">*</span>
                                            </label>
                                        </span>
                                        <span class="tcs-form-input-field">
                                            <input type="text" name="addresstype_work_area" id="addresstype_work_area"
                                                   class="tcs-input tcs-input-type-text tcs-gradient-light-gray"
                                                   title="Район или город" autocomplete="off">
                                            <div class="selector_holder"></div>
                                        </span>
                            </div>
                            <div class="tcs-form-row tcs-form-row-address-handler-hide">
                                        <span class="tcs-form-row-field">
                                            <label for="addresstype_work_city" class="tcs-form-label">
                                                Населенный пункт<span class="tcs-form-field-requared">*</span>
                                            </label>
                                        </span>
                                        <span class="tcs-form-input-field">
                                            <input type="text" name="addresstype_work_city" id="addresstype_work_city"
                                                   class="tcs-input tcs-input-type-text tcs-gradient-light-gray"
                                                   title="Населенный пункт" autocomplete="off">
                                            <div class="selector_holder"></div>
                                        </span>
                            </div>
                        </section>
                        <section class="fields address_permanent tcs-form-row-address-handler_work">
                            <div class="tcs-form-row tcs-form-row-address-handler-hide">
                                        <span class="tcs-form-row-field">
                                            <label for="addresstype_work_street" class="tcs-form-label">
                                                Улица<span class="tcs-form-field-requared">*</span>
                                            </label>
                                        </span>
                                        <span class="tcs-form-input-field">
                                            <input type="text" name="addresstype_work_street"
                                                   id="addresstype_work_street"
                                                   class="tcs-input tcs-input-type-text tcs-gradient-light-gray"
                                                   title="Улица" autocomplete="off">
                                            <div class="selector_holder"></div>
                                        </span>
                            </div>
                            <div class="multiple-fields-wrapper">
                                <div class="tcs-form-row tcs-form-row-short139 tcs-form-row-address-handler-hide">
                                            <span class="tcs-form-row-field">
                                                <label for="addresstype_work_building" class="tcs-form-label">
                                                    Дом<span class="tcs-form-field-requared">*</span>
                                                </label>
                                            </span>
                                            <span class="tcs-form-input-field">
                                                <input maxlength="7" type="text" name="addresstype_work_building"
                                                       id="addresstype_work_building"
                                                       class="tcs-input tcs-input-type-text tcs-input-type-text-short139 tcs-gradient-light-gray"
                                                       title="Дом">
                                            </span>
                                </div>

                                <div class="tcs-form-row tcs-form-row-short139 tcs-form-row-address-handler-hide">
                                            <span class="tcs-form-row-field">
                                                <label for="addresstype_work_corpus"
                                                       class="tcs-form-label tcs-form-label_optional">
                                                    Корпус<span class="tcs-form-field-requared"></span>
                                                </label>
                                            </span>
                                            <span class="tcs-form-input-field">
                                                <input maxlength="10" type="text" name="addresstype_work_corpus"
                                                       title="Корпус" id="addresstype_work_corpus"
                                                       class="tcs-input tcs-input-type-text tcs-input-type-text-short139 tcs-gradient-light-gray">
                                                <div class="selector_holder"></div>
                                            </span>
                                </div>

                                <div class="tcs-form-row tcs-form-row-short139 tcs-form-row-address-handler-hide">
                                            <span class="tcs-form-row-field">
                                                <label for="addresstype_work_stroenie"
                                                       class="tcs-form-label tcs-form-label_optional">
                                                    Строение<span class="tcs-form-field-requared"></span>
                                                </label>
                                            </span>
                                            <span class="tcs-form-input-field">
                                                <input maxlength="10" type="text" name="addresstype_work_stroenie"
                                                       id="addresstype_work_stroenie"
                                                       class="tcs-input tcs-input-type-text tcs-input-type-text-short139 tcs-gradient-light-gray"
                                                       title="Строение">
                                            </span>
                                </div>

                                <div class="tcs-form-row tcs-form-row-short139 tcs-form-row-address-handler-hide">
                                            <span class="tcs-form-row-field">
                                                <label for="addresstype_work_flat"
                                                       class="tcs-form-label  tcs-form-label_optional">
                                                    Номер офиса<span class="tcs-form-field-requared"></span>
                                                </label>
                                            </span>
                                            <span class="tcs-form-input-field tcs-form-input-field-short">
                                                <input maxlength="9" type="text" name="addresstype_work_flat"
                                                       id="addresstype_work_flat"
                                                       class="tcs-input tcs-input-type-text tcs-input-type-text-short139 tcs-gradient-light-gray"
                                                       title="Квартира">
                                            </span>
                                </div>
                            </div>
                        </section>
                    </div>

                </div>
                <div class="notwork">
                    <div class="tcs-form-row tcs-form-row-notwork" style="display: none;">
                        <span class="tcs-form-row-field"></span>
                                    <span class="tcs-form-input-fields-radio-type">
                                        <div class="tcs-plugin-radio"
                                             style="display: block; float: left; position: static; margin: 3px 3px 0px 5px;">
                                            <input type="radio" name="not_work" value="pension_age"
                                                   id="notwork_pension_age" tabindex="0"
                                                   class="tcs-input radio tcs-gradient-light-gray"
                                                   title="Пенсионер по возрасту/стажу работы"
                                                   style="display: inline; opacity: 0; outline: 0px; margin: 0px; padding: 0px; width: 15px; height: 13px;">
                                        </div>
                                        <label for="notwork_pension_age" class="tcs-form-label-radio">
                                            Пенсионер по&nbsp;возрасту/стажу работы
                                        </label>
                                        <span class="tcs-form-br-radio"></span>

                                        <div class="tcs-plugin-radio"
                                             style="display: block; float: left; position: static; margin: 3px 3px 0px 5px;">
                                            <input type="radio" name="not_work" value="pension_disability"
                                                   id="notwork_pension_disability" tabindex="0"
                                                   class="tcs-input radio tcs-gradient-light-gray"
                                                   title="Пенсионер по инвалидности"
                                                   style="display: inline; opacity: 0; outline: 0px; margin: 0px; padding: 0px; width: 15px; height: 13px;">
                                        </div>
                                        <label for="notwork_pension_disability" class="tcs-form-label-radio">
                                            Пенсионер по&nbsp;инвалидности
                                        </label>
                                        <span class="tcs-form-br-radio"></span>

                                        <div class="tcs-plugin-radio"
                                             style="display: block; float: left; position: static; margin: 3px 3px 0px 5px;">
                                            <input type="radio" name="not_work" value="look_work" id="notwork_look_work"
                                                   tabindex="0" class="tcs-input radio tcs-gradient-light-gray"
                                                   title="Ищу работу"
                                                   style="display: inline; opacity: 0; outline: 0px; margin: 0px; padding: 0px; width: 15px; height: 13px;">
                                        </div>
                                        <label for="notwork_look_work" class="tcs-form-label-radio">
                                            Ищу работу
                                        </label>
                                        <span class="tcs-form-br-radio"></span>

                                        <div class="tcs-plugin-radio"
                                             style="display: block; float: left; position: static; margin: 3px 3px 0px 5px;">
                                            <input type="radio" name="not_work" value="husband_wife_contains"
                                                   id="notwork_husband_wife_contains" tabindex="0"
                                                   class="tcs-input radio tcs-gradient-light-gray"
                                                   title="Содержит муж/жена"
                                                   style="display: inline; opacity: 0; outline: 0px; margin: 0px; padding: 0px; width: 15px; height: 13px;">
                                        </div>
                                        <label for="notwork_husband_wife_contains" class="tcs-form-label-radio">
                                            Содержит муж/жена
                                        </label>
                                        <span class="tcs-form-br-radio"></span>

                                        <div class="tcs-plugin-radio"
                                             style="display: block; float: left; position: static; margin: 3px 3px 0px 5px;">
                                            <input type="radio" name="not_work" value="other" id="notwork_other"
                                                   tabindex="0" class="tcs-input radio tcs-gradient-light-gray"
                                                   title="Другое"
                                                   style="display: inline; opacity: 0; outline: 0px; margin: 0px; padding: 0px; width: 15px; height: 13px;">
                                        </div>
                                        <label for="notwork_other" class="tcs-form-label-radio">
                                            Другое
                                        </label>
                                    </span>
                        <span class="tcs-form-row-message"></span>
                    </div>
                    <div class="tcs-form-row tcs-form-row-notwork tcs-form-row-notwork-other-field"
                         id="tcs-form-row-notwork-other-field" style="display: none;">
                                <span class="tcs-form-row-field">
                                    <label for="notwork_other_text" class="tcs-form-label">
                                        Другое<span class="tcs-form-field-requared">*</span>
                                    </label>
                                </span>
                                <span class="tcs-form-input-field tcs-form-input-field-short">
                                    <input type="text" name="notwork_other_text" disabled="disabled"
                                           id="notwork_other_text"
                                           class="tcs-input tcs-input-type-text tcs-gradient-light-gray tcs-form-disabled-field"
                                           title="">
                                </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="tcs-form-actions-wrapper">
            <div class="actions tcs-form-actions">
                <div class="forward actions tcs-form-actions-forward available">
                    <a class="button js_forward" href="#chromeFrameBug">Далее</a>
                </div>
                <div class="backward tcs-form-actions-backward">
                    <a href="#" class="js_backward tcs-form-actions-backward-link">Назад</a>
                </div>
            </div>
        </div>
    </div>

    <div class="step form-step-wrapper credit-form-step4" id="step_4">
        <input type="hidden" name="delta_apr_prob" id="delta_apr_prob" value="0.05">
        <input type="hidden" name="start_apr_prob" id="start_apr_prob" value="0.45">

        <div class="tcs-form-navigation">
            <span class="text_size_l tcs-form-navigation-step-name" id="tcs-form-navigation-step-name-id4">Дополнительные сведения</span>
            <span class="text tcs-form-navigation-step-progress" id="tcs-form-navigation-step-progress-id4">шаг 4 из 4</span>
        </div>

        <div class="text_size_l tcs-form-subtitle">Личная информация</div>
        <div class="step-fields-wrapper">
            <input type="hidden" name="completed" value="1">
            <input type="hidden" name="mobile_verified" id="mobile_verified" value="2">
            <section class="fields">
                <div class="tcs-form-row tcs-form-row-select">
                            <span class="tcs-form-row-field">
                                <label for="number_of_children" class="tcs-form-label tcs-form-label_optional">
                                    Укажите количество детей<span class="tcs-form-field-requared"></span>
                                </label>
                            </span>
                            <span class="tcs-form-input-field tcs-gradient-light-gray-for-select">
                                <select name="number_of_children" id="number_of_children" class="tcs-select"
                                        title="Количество детей" data-plugin-select="true"
                                        style="visibility: hidden; position: absolute;">
                                    <option value="0">нет</option>
                                    <option value="1">один</option>
                                    <option value="2">два</option>
                                    <option value="3">три и более</option>
                                </select><div class="tcs-plugin-select2" tabindex="0" style="width: 598px;">
                                <div class="tcs-plugin-select2__current-value">нет</div>
                                <div class="tcs-plugin-select2__arrow"></div>
                            </div>
                            </span>
                </div>
                <div class="tcs-form-row tcs-form-row-select">
                            <span class="tcs-form-row-field ">
                                <label for="marital_status" class="tcs-form-label tcs-form-label_optional">
                                    Укажите семейное положение<span class="tcs-form-field-requared"></span>
                                </label>
                            </span>
                            <span class="tcs-form-input-field tcs-gradient-light-gray-for-select">
                                <select name="marital_status" id="marital_status" class="tcs-select"
                                        title="Семейное положение" data-plugin-select="true"
                                        style="visibility: hidden; position: absolute;">
                                    <option value="0">Не выбрано</option>
                                    <option value="1">Холост/не замужем</option>
                                    <option value="2">Разведен (а)</option>
                                    <option value="3">Гражданский брак</option>
                                    <option value="4">Женат/замужем</option>
                                    <option value="5">Вдовец, вдова</option>
                                </select><div class="tcs-plugin-select2" tabindex="0" style="width: 598px;">
                                <div class="tcs-plugin-select2__current-value">Не выбрано</div>
                                <div class="tcs-plugin-select2__arrow"></div>
                            </div>
                            </span>
                </div>
                <div class="tcs-form-row tcs-form-row-select">
                            <span class="tcs-form-row-field">
                                <label for="education" class="tcs-form-label tcs-form-label_optional">
                                    Укажите образование<span class="tcs-form-field-requared"></span>
                                </label>
                            </span>
                            <span class="tcs-form-input-field tcs-gradient-light-gray-for-select">
                                <select name="education" id="education" class="tcs-select" title="Образование"
                                        data-plugin-select="true" style="visibility: hidden; position: absolute;">
                                    <option value="0">Не выбрано</option>
                                    <option value="1">Начальное, среднее</option>
                                    <option value="2">Неполное высшее</option>
                                    <option value="3">Высшее</option>
                                    <option value="4">Второе высшее</option>
                                    <option value="5">Ученая степень</option>
                                </select><div class="tcs-plugin-select2" tabindex="0" style="width: 598px;">
                                <div class="tcs-plugin-select2__current-value">Не выбрано</div>
                                <div class="tcs-plugin-select2__arrow"></div>
                            </div>
                            </span>
                </div>
                <div class="tcs-form-row tcs-form-row-select">
                            <span class="tcs-form-row-field">
                                <label for="asset_foreign_vehicle_flag" class="tcs-form-label tcs-form-label_optional">
                                    Укажите автомобиль<span class="tcs-form-field-requared"></span>
                                </label>
                            </span>
                            <span class="tcs-form-input-field tcs-gradient-light-gray-for-select">
                                <select name="asset_foreign_vehicle_flag" id="asset_foreign_vehicle_flag"
                                        class="tcs-select" title="Автомобиль" data-plugin-select="true"
                                        style="visibility: hidden; position: absolute;">
                                    <option value="4" selected="selected">Не выбрано</option>
                                    <option value="1">Нет</option>
                                    <option value="2">Отечественный</option>
                                    <option value="3">Иномарка</option>
                                </select><div class="tcs-plugin-select2" tabindex="0" style="width: 598px;">
                                <div class="tcs-plugin-select2__current-value">Не выбрано</div>
                                <div class="tcs-plugin-select2__arrow"></div>
                            </div>
                            </span>
                </div>
            </section>
            <section class="fields dn tcs-form-row-dn">
                <div class="tcs-form-row">
                            <span class="tcs-form-row-field">
                                <label for="car_number" class="tcs-form-label tcs-form-label_optional">
                                    Номер автомобиля
                                    <span class="tcs-form-field-requared"></span>
                                    <span class="tcs-form-row-field-hint tcs-form-row-message tcs-form-message-hint">(А123BC77)</span></label>
                            </span>
                            <span class="tcs-form-input-field tcs-form-input-field-short">
                                <input type="text" maxlength="9" name="car_number" id="car_number"
                                       class="tcs-input tcs-input-type-text tcs-gradient-light-gray"
                                       title="Номер автомобиля">
                            </span>
                </div>
            </section>
            <section class="fields">
                <div class="tcs-form-row">
                            <span class="tcs-form-row-field">
                                <label for="income_individual" class="tcs-form-label">
                                    Персональный доход<span class="tcs-form-field-requared">*</span>
                                    <span class="tcs-form-row-field-hint">(<span class="symbol-rub"></span> в&nbsp;месяц)</span>
                                </label>
                            </span>
                            <span class="tcs-form-input-field tcs-form-input-field-short tcs-form-input-field-nowrap-width-description">
                                <input type="text" maxlength="10" name="income_individual" id="income_individual"
                                       class="tcs-input tcs-input-type-text tcs-gradient-light-gray"
                                       title="Персональный доход">
                            </span>
                </div>
                <div class="tcs-form-row">
                            <span class="tcs-form-row-field">
                                <label for="expenses_amount" class="tcs-form-label tcs-form-label_optional">
                                    Сумма аренды квартиры
                                    <span class="tcs-form-field-requared"></span>
                                    <span class="tcs-form-row-field-hint">(<span class="symbol-rub"></span> в&nbsp;месяц)</span>
                                </label>
                            </span>
                            <span class="tcs-form-input-field tcs-form-input-field-short tcs-form-input-field-nowrap-width-description">
                                <input type="text" maxlength="10" name="expenses_amount" id="expenses_amount"
                                       class="tcs-input tcs-input-type-text tcs-gradient-light-gray"
                                       title="Сумма аренды квартиры">
                            </span>
                </div>
                <div class="tcs-form-row tcs-form-row-select">
                            <span class="tcs-form-row-field">
                                <label for="liability_n_w_amount__dbl" class="tcs-form-label tcs-form-label_optional">
                                    Сумма платежей по&nbsp;текущим кредитам
                                    в&nbsp;других банках <span class="tcs-form-field-requared">*</span>
                                </label>
                            </span>
                            <span class="tcs-form-input-field tcs-gradient-light-gray-for-select">
                                <select name="liability_n_w_amount__dbl" id="liability_n_w_amount__dbl"
                                        class="tcs-select tcs-form-ignore-select"
                                        title="Сумма платежей по текущим кредитам в других банках"
                                        data-plugin-select="true" style="visibility: hidden; position: absolute;">
                                    <option value="1">Не выбрано</option>
                                    <option value="2">нет платежей по&nbsp;другим кредитам</option>
                                    <option value="3">менее&nbsp;10% дохода</option>
                                    <option value="4">от&nbsp;10% до&nbsp;четверти дохода</option>
                                    <option value="5">от&nbsp;четверти до&nbsp;половины дохода</option>
                                    <option value="6">более половины дохода</option>
                                </select><div class="tcs-plugin-select2" tabindex="0" style="width: 598px;">
                                <div class="tcs-plugin-select2__current-value">Не выбрано</div>
                                <div class="tcs-plugin-select2__arrow"></div>
                            </div>
                            </span>
                </div>
                <div>
                    <input type="hidden" name="liability_n_w_amount" id="liability_n_w_amount" value="">
                </div>

                <div class="tcs-form-row tcs-form-row-select">
                                <span class="tcs-form-row-field tcs-form-row-field-select">
                                    <label for="credit_history" class="tcs-form-label">
                                        Моя кредитная история<span class="tcs-form-field-requared"></span>
                                    </label>
                                </span>
                                <span class="tcs-form-input-field tcs-gradient-light-gray-for-select">
                                    <select name="credit_history" id="credit_history" class="tcs-select"
                                            title="Количество детей" data-plugin-select="true"
                                            style="visibility: hidden; position: absolute;">
                                        <option value="0" selected="">Не выбрано</option>
                                        <option value="3">Всегда плачу вовремя</option>
                                        <option value="4">Бывают просрочки</option>
                                        <option value="5">Были многочисленные просрочки</option>
                                        <option value="6">Есть текущие просрочки</option>
                                        <option value="2">Никогда не брал кредитов</option>
                                        <option value="1">Не знаю</option>
                                    </select><div class="tcs-plugin-select2 credit-history-select"
                                                  style="width: 598px;">
                                    <div class="tcs-plugin-select2__current-value">Не выбрано</div>
                                    <div class="tcs-plugin-select2__arrow"></div>
                                </div>
                                </span>
                </div>

            </section>


            <section data-supersection-name="step4_additional_documentsAD3727" class="">

                <div class="text_size_l tcs-form-title">Дополнительные документы, которые Вы готовы предоставить <span
                        class="step4_additional_documents__tooltip tooltip">?</span></div>


                <section class="fields" data-section-name="identity_documentsAD3727__checkbox">

                    <div class="text_size_m tcs-form-subtitle">Документы, подтверждающие личность:</div>


                    <div class="tcs-form-row tcs-form-row__show_foreign_passport__checkbox "
                         data-row-name="show_foreign_passport__checkbox">

        <span class="tcs-form-input-field tcs-form-input-field-checkbox">
            <div class="tcs-plugin-checkbox"
                 style="display: block; float: left; position: static; margin: 3px 3px 3px 4px;"><input type="checkbox"
                                                                                                        name="show_foreign_passport"
                                                                                                        id="show_foreign_passport"
                                                                                                        value=""
                                                                                                        class="checkbox"
                                                                                                        title="Заграничный паспорт"
                                                                                                        data-uncheckedvalue="0"
                                                                                                        data-checkedvalue="2"
                                                                                                        style="display: block; position: static; opacity: 0; margin: 0px; padding: 0px; width: 20px; height: 20px; outline: 0px;">
            </div>
            <label for="show_foreign_passport" class="tcs-form-amnesia-row-label">
                Заграничный паспорт<span class="tcs-form-field-requared"></span>
            </label>
        </span>

                    </div>


                </section>


                <section class="fields form-element-hidden" data-section-name="documents_on_your_carAD3727__checkbox">

                    <div class="text_size_m tcs-form-subtitle">Документы на Ваш автомобиль:</div>


                    <div class="tcs-form-row tcs-form-row__show_car_registration_cert__checkbox "
                         data-row-name="show_car_registration_cert__checkbox">

        <span class="tcs-form-input-field tcs-form-input-field-checkbox">
            <div class="tcs-plugin-checkbox"
                 style="display: block; float: left; position: static; margin: 3px 3px 3px 4px;"><input type="checkbox"
                                                                                                        name="show_car_registration_cert"
                                                                                                        id="show_car_registration_cert"
                                                                                                        value=""
                                                                                                        class="checkbox"
                                                                                                        title="Cвидетельство регистрации ТС"
                                                                                                        data-uncheckedvalue="0"
                                                                                                        data-checkedvalue="2"
                                                                                                        style="display: block; position: static; opacity: 0; margin: 0px; padding: 0px; width: 20px; height: 20px; outline: 0px;">
            </div>
            <label for="show_car_registration_cert" class="tcs-form-amnesia-row-label">
                Cвидетельство регистрации ТС<span class="tcs-form-field-requared"></span>
            </label>
        </span>

                    </div>


                </section>


                <section>
                </section>
            </section>
            <section data-supersection-name="step4_data_to_activate_card_and_further_service" class="">


                <section class="fields" data-section-name="data_to_activate_card_and_further_service">

                    <div class="text_size_m tcs-form-subtitle">Данные для активации вашей карты и дальнейшего
                        обслуживания
                    </div>


                    <div class="tcs-form-row tcs-form-row__mother_maiden_name " data-row-name="mother_maiden_name">

        <span class="tcs-form-row-field">
            <label for="mother_maiden_name" class="tcs-form-label">
                Кодовое слово<span class="tcs-form-field-requared ">*</span>
            </label>
        </span>
        <span class="tcs-form-input-field ">
            <input type="text" name="mother_maiden_name" id="mother_maiden_name" title="Кодовое слово"
                   class="tcs-input tcs-input-type-text tcs-gradient-light-gray">

                <span class="text_size_12  tcs-form-row  tcs-form-row__tooltip">Используйте только буквы русского алфавита и дефис</span>


        </span>

                    </div>


                    <div class="tcs-form-row tcs-form-row__mother_birthdate " data-row-name="mother_birthdate">

        <span class="tcs-form-row-field">
            <label for="mother_birthdate" class="tcs-form-label">
                Кодовая дата<span class="tcs-form-field-requared ">*</span>
                <span class="tcs-form-row-field-hint tcs-form-row-message tcs-form-message-hint">(дд.мм.гггг)</span></label>
        </span>
        <span class="tcs-form-input-field ">
            <input type="text" name="mother_birthdate" id="mother_birthdate" title="Кодовая дата"
                   class="tcs-input tcs-input-type-text tcs-gradient-light-gray tcs-masked-input tcs-masked-input-empty">

                <span class="text_size_12  tcs-form-row  tcs-form-row__tooltip">Используйте существующую дату</span>


        </span>

                    </div>


                </section>


                <section>
                </section>
            </section>
        </div>

        <div class="tcs-form-actions-wrapper">
            <div class="actions tcs-form-actions">
                <div class="forward actions tcs-form-actions-forward available lastclick">
                    <a class="button js_forward" href="#">Оформить</a>
                </div>
                <div class="backward tcs-form-actions-backward">
                    <a href="#" class="js_backward tcs-form-actions-backward-link">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>