
.b-safelist-item
   border-bottom 1px solid #e0e0e0
   padding-bottom 25px
   margin-bottom 75px
   .b-safelist-item_header
    margin-bottom 32px
    .b-safelist-item_header_ico
      width 122px
      display inline-block
      vertical-align top
      svg
        width 96px
        height auto
        padding-left 15px
    .b-safelist-item_header_text
      color #292a2c
      font-size 36px
      font-weight 300
      display inline-block
      vertical-align top
      width 800px
      line-height 42px
   .b-safelist-item_cont
    &:nth-child(2n)
      .b-safelist-item_cont_wrap
        background-color #f5f5f5
    .b-safelist-item_cont_ico
      background-color #fff
      width 122px
      display inline-block
      vertical-align middle
      text-align center
      img
        margin 0 auto
        max-width: 56% !important;
    .b-safelist-item_cont_wrap
      display inline-block
      vertical-align middle
      width 800px
      padding 29px
      position relative
      .b-safelist-item_header_cont_wrap_text
        color #69696a
        font-weight 300
        font-size 18px
        width 480px
      .b-safelist-item_header_cont_wrap_download
        text-transform uppercase
        color #7978b1
        font-weight 500
        font-size 12px
        position absolute
        right 54px
        top 50%
        transform translateY(-50%)
        text-decoration none
        &:before
          content ''
          display inline-block
          vertical-align middle
          width 12px
          height 16px
          background url("../blocks/images/down.png") no-repeat
          background-size cover
          margin-right 7px


.prim
  color #69696a
  font-weight 300
  font-size 12px
  padding 0 29px