@media (min-width: 769px)
  .memory
    float right
  .credit-info
    float right
    width 290px
  .b-orgservices_credit-item
    width 25%
  .credit-menu-row
    width 32%
  .vklad-list .vklad-elem
    width 32%
  .b-enter
    .b-enter-link
      text-align left
      margin-bottom 12px
      padding-left 20px
    .b-enter-item
      display inline-block
      vertical-align top
      width 362px
      position relative
      &.withbord
        margin-right 45px
        &:after
          content ''
          background url(../blocks/images/Shapeib.png)no-repeat
          background-size cover
          display inline-block
          height 169px
          width 2px
          position absolute
          top -4px
          right -25px
  .b-news-item
    width 30%
  .b-advantages-item
    width 32%
    display inline-block
    text-align center
    vertical-align top
  .b-page__container.parallax-viewport
    height 600px
  .headext
    padding-top inherit
    top -25px
    padding-top 95px
  .toplayer
    width 105%
  .b-head.b-head__index
    padding-top 340px
  .b-head__top-item
    display inline-block
  .b-copyright
    .toStore
      margin-left 108px
  .toStore,
  .toPlay
      display inline-block
    .our
      padding-left 83px
  footer
    .footer-col
      font-weight 300
      float left
      &:first-child
        width 35%
      &:last-child
        width 28%
  .map-wrap
    height 600px
    .b-map-controls
      width 325px
      height 600px
      overflow auto
  #map-canvas
    &.m-offices
      width  91%
      height 600px
  footer
    padding-top 56px
    min-height 400px
    .footer-col
      padding-top 30px
      width 35%
      &:first-child
        width 35%
      &:last-child
        width 28%
      .footer-h2
        margin-bottom 9px
  .b-head
    padding-top 340px
    &:after
      margin-top -300px
    .b-head__top-item
      display inline-block
    .b-head__bottom
      top 57px
      left 73px
    .headext
      top -25px

@media (max-width: 768px)
  .credit-list
    width 100% !important
    overflow auto
    padding: 0 20px !important;
    .credit-list-item
      min-width 768px

@media (min-width: 1201px)
  #scheene
    .toplayer
      left -2% !important

@media (min-width: 768px) and (max-width: 1200px)
  #scheene
    .toplayer
      width 160%
      left -40% !important

@media (max-width: 768px) and (min-width: 568px)

  .b-orgservices_credit-item
    width 50%
  .credit-menu-row
    width 50%
  .vklad-list .vklad-elem
    width 50%
  .b-advantages-item
    width 32%
    display inline-block
    text-align center
    vertical-align top
  .toStore,
  .toPlay
    display block
  footer
    .main-logo
      display none
    .b-copyright
      padding-top 12px
      position relative
      .oldnew
        top -10px
      .our
        display block
      .toPlay,
      .toStore
        margin-left 0
        margin-top 20px
        margin-bottom 20px
    .footer-col
      font-weight 300
      float left
      &:first-child
        width 35%
      &:last-child
        width 28%
  .map-wrap
    height 600px
    .b-map-controls
      width 325px
      height 600px
      overflow auto
  #map-canvas
    &.m-offices
      width  91%
      height 600px
  footer
    padding-top 5px
    min-height 302px
    padding-left 30px
    .main-logo
      display none
    .footer-col
      padding-top 30px
      &:first-child
        width 50%
      &:last-child
        display none
      .footer-h2
        margin-bottom 12px
  .b-head
    padding-top 144px
    &:after
      margin-top 0
      bottom 0
    .b-head__bottom
      position absolute
      top 26px
      left 29px
    .headext
      top -26px
      margin-top 0
      -webkit-box-pack center
      -webkit-justify-content center
      -ms-flex-pack center
      justify-content center
  .b-head__top-item
    display none
    &.m-allbank
      display inline-block
  .menu__handle
    margin-bottom: 15px;
    .main-logo
      width 80px
      height 51px
      margin-right 17px
    span
      top -3px
  footer
    .footer-col
      &:last-child
        display none
    .main-logo
      display none

@media (max-width: 567px) and (min-width: 377px)
  .b-orgservices_credit-item
    width 100%
  .credit-menu-row
    width 100%
    padding 0 25px
  .vklad-list .vklad-elem
    width 100%
  .b-advantages-item
    width 32%
    display inline-block
    text-align center
    vertical-align top
  .toStore,
  .toPlay
    display block
  footer
    .main-logo
     display none
    &.container-fleud
      padding 30px 40px
    .b-copyright
      padding-top 12px
      position relative
      .oldnew
        top -10px
      .our
        display block
      .toPlay,
      .toStore
        margin-left 0
        margin-top 20px
        margin-bottom 20px
    .footer-col
      &:first-child
        width 35%
      &:last-child
        width 28%
  .map-wrap
    height 600px
    .b-map-controls
      width 325px
      height 600px
      overflow auto
  #map-canvas
    &.m-offices
      width  91%
      height 600px
  .footer-col
    &:last-child
      display none
