@media (max-width: 376px)
  .b-orgservices_credit-item
    width 100%
  .credit-menu .credit-menu-row
    width 100%
    padding 0 25px
  .vklad-list .vklad-elem
    width 100%
  .b-main-slider .b-main-slider-buttons
    display none
  .b-main-slider .b-main-slider-item .b-main-slider-head
    font-size 18px !important
  .b-main-slider .b-main-slider-item .b-main-slider-text
    font-size 16px !important
  #scheene
    .toplayer
      width 240%
      left -120% !important
  .b-head__bottom
    top 10px
    left 20px
  .b-head.b-head__index
    padding-top 300px
  .b-head__top-item
    display none
    &.m-allbank
      display inline-block
  .b-page__container.parallax-viewport
    overflow hidden
    height 435px
    position relative
  .b-service
    .b-service-right
      max-width: 100% !important
    .b-service-left
      padding-left 30px
      max-width: 100% !important
  .b-main-slider
    .b-main-slider-item
      padding-top 120px
  .b-news
    .b-news-list
      .b-news-item
        display block
        padding 0 10%
        width auto

@media (max-width: 361px)
  #submenu
    .menu__handle
      display none
  .allbank-text
    padding-top: 100px !important
    padding-left 40px
    -webkit-column-count 1 !important
    -moz-column-count 1 !important
    column-count 1 !important
  .b-head-title
    margin-top 0 !important
  .dib
    margin-left 20px
  .b-form-mortgage .b-form-mortgage-item
    width 94% !important
    padding-left 20px
  .b-head
    .b-enter
      .b-button.enterbank
        width 250px
        height 50px
        font-size 18px
        padding 24px 5px
      .b-enter-head
        font-size 30px
      .b-enter-link
        a
          margin-left 25px
  .b-head__bottom
    width 89%
    .b-menu__inner
      padding-left 0
      ul
        padding-left 0
        li
          width auto
  #b-uslugi
    display none
  .b-service.m-min
    height auto !important
    .b-service-right
      float left
      padding-left 30px
      margin-top 20px
  .b-news .b-news-list .b-news-item
    width 100% !important
  .b-advantages
    .b-advantages-list
      .b-advantages-item
        padding-left 10px
        width 100%
        .b-advantages-link
          display inline-block
          max-width 175px
          vertical-align middle
          margin-left 10px
        .b-advantages-picture
          width 60px
          height 60px
          margin 0 10px
          display inline-block
          vertical-align middle
          svg
            -webkit-transform scale(0.4) translate(-70%, -70%)
            -ms-transform scale(0.4) translate(-70%, -70%)
            transform scale(0.4) translate(-70%, -70%)
  .headext
    margin-top 105px
  .b-head__top
    right 10px !important
  .b-head__bottom
    .menu__handle
      span
        display block
        padding-left 45px
        margin-top 20px
  footer
    .main-logo
      display none
    &.container-fleud
      padding 30px 40px
    .footer-col
      &:first-child
        width 100%
  .b-copyright
    padding-top 12px
    position relative
    .oldnew
      top -10px
    .our
      display block
    .toPlay,
    .toStore
      margin-left 0
      margin-top 10px
      margin-bottom 10px
      display block
  .footer-col
    &:nth-child(2)
      padding 25px 0
    &:last-child
      display none
  .b-orgservices
    .b-control
      .b-checkers
        padding 0 20px
  #map-canvas
    &.m-offices
      width 100%
      height 200px
      top 400px
  .b-menu__inner
    padding-left 30px
  .b-head
    &:before
      width 450px !important
    &:after
      margin-top 0
      bottom 0
  .map-wrap
    height 600px
    .b-map-controls
      width 120%
      height 400px
      overflow auto