
// анимация рисования линии в нижнем блоке главной страницы
@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

.js-toLeft
  transform translate(-1500px,0)

// анимация вспышки
@keyframes showWhite {
  from {
    opacity 0
  }
  to {
   opacity 1
  }
}

@keyframes overLeft {
  to {
    left -1000px
  }
}

.b-advantages-picture
  &._state_run
    svg
      path,
      polyline,
      line
        will-change stroke-dasharray, stroke-dashoffset
        stroke-dasharray 1000
        -moz-animation dashTo 2.2s 2s linear forwards
        -webkit-animation dashTo 2.2s 2s linear forwards
        -ms-animation dashTo 2.2s 2s linear forwards
        animation dashTo 2.2s 2s linear forwards
        -webkit-animation-delay 0.1s
        -moz-animation-delay 0.1s
        -o-animation-delay 0.1s
        animation-delay 0.1s
        /* Продолжительность анимации */
        -webkit-animation-duration 4s
        -moz-animation-duration 4s
        -o-animation-duration 4s
        animation-duration 4s

@keyframes dashTo {
  0% {
    stroke-dashoffset 1000
  }
  100% {
    stroke-dashoffset 0
  }
}

.headext-item
  .headext-ico
    svg
      &:hover
        path
          stroke-dasharray 1000
          stroke-dashoffset 1000
          animation dashTo 5s linear forwards




.carousel-wrapper
  position relative
.carousel-item
  position absolute
  top 0
  bottom 0
  left 0
  right 0
  padding 25px 50px
  opacity 0
  transition all 0.5s ease-in-out
  .arrow
    position absolute
    top 0
    display block
    width 50px
    height 100%
    -webkit-tap-highlight-color transparent
    background url("http://dancort.es/assets/img/css-carousel/carousel-arrow-dark.png") 50% 50%/20px no-repeat
    &.arrow-prev
      left 0
    &.arrow-next
      right 0
      -webkit-transform rotate(180deg)
      transform rotate(180deg)
  &.dark
    color black
  &.light
    color white
    .arrow
      background url("http://dancort.es/assets/img/css-carousel/carousel-arrow-light.png") 50% 50%/20px no-repeat
.item-1
  z-index 2
  opacity 1
*:target
  & ~ .item-1
    opacity 0
#target-item-1
  &:target
    & ~ .item-1
      opacity 1

@media (max-width: 480px)
  .carousel-wrapper .carousel-item .arrow, .carousel-wrapper .carousel-item.light .arrow
    background-size 10px
    background-position 10px 50%

.carousel-wrapper
  [id^="target-item"]
    display none

.carousel-wrapper #target-item-2:target ~ .item-2, .carousel-wrapper #target-item-3:target ~ .item-3
  z-index 3
  opacity 1