html
  color #222
  font-size 1em
  line-height 1.4

::-moz-selection
  background #b3d4fc
  text-shadow none

::selection
  background #b3d4fc
  text-shadow none

hr
  display block
  height 1px
  border 0
  border-top 1px solid #ccc
  margin 1em 0
  padding 0

audio,
canvas,
iframe,
img,
svg,
video
  vertical-align middle

fieldset
  border 0
  margin 0
  padding 0

textarea
  resize vertical

.browserupgrade
  margin 0.2em 0
  background #ccc
  color #000
  padding 0.2em 0

.hidden
  display none !important
  visibility hidden

.visuallyhidden
  border 0
  clip rect(0 0 0 0)
  height 1px
  margin -1px
  overflow hidden
  padding 0
  position absolute
  width 1px

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus
  clip auto
  height auto
  margin 0
  overflow visible
  position static
  width auto

.invisible
  visibility hidden

.clearfix:before,
.clearfix:after
  content " "
  display table

.clearfix
  &:after
    clear both

a,
a:visited
  text-decoration underline

abbr[title]:after
  content " (" attr(title) ")"

a[href^="#"]:after,
a[href^="javascript:"]:after
  content ""

pre,
blockquote
  border 1px solid #999
  page-break-inside avoid

thead
  display table-header-group

tr,
img
  page-break-inside avoid

img
  max-width 100% !important

p,
h2,
h3
  orphans 3
  widows 3

h2,
h3
  page-break-after avoid