@import 'nib'

.dib
  display inline-block
  vertical-align top
  &.item1
    width 135px
    margin-right 23px
    .item1-content
      span
        font-weight 500
        font-size 30px
  &.item2
    width 210px
    margin-right 28px
    .item2-content
      .result
        font-weight 500
        font-size 30px
      .curency
        font-size 20px
        font-weight 300
      span
        font-weight 500
        font-size 30px
  &.item3
    .item3-content
      .credit
        display inline-block
        font-size 18px
        margin-right 27px
        font-weight 300
        color #7978b1
        cursor pointer
        &.active
          color: #e67e22;

.mortgage
  padding-bottom 90px
  margin-bottom 60px

#depositPeriod_input
  height 35px
  line-height 35px
  border none
  width 60px
  padding-left 6px
  -webkit-appearance none


#depositPeriod_slider .noUi-marker-horizontal.noUi-marker
  width 1px

.b-form-mortgage-item-info
  position relative
  .glyphicon
    top 0
    left -24px
    font-style normal
    font-size 10px

.depositArr
  content '\e114'
  font-family 'Glyphicons Halflings'
  position absolute
  left 20px
  top 0
  font-size 14px
  font-weight 100


.item3-text
  margin-bottom 12px

.vklad.dib
  line-height 25px
  margin-right 30px
  cursor pointer

.mpb-text
  text-align center
  margin-top 40px
  margin-bottom 36px
  color #69696a
  font-weight 300
  font-size 18px

.credit-list-item
  border-top 1px solid #e0e0e0
  padding-top 20px
  padding-bottom 14px
  &.withlast:last-child
    border-bottom 1px solid #e0e0e0


.credit-list
  list-style none
  padding 0
  width 690px
  display inline-block

.credit-list-item_leftpart
  float left
  width 29%
  i
    height 105px
    width 90px
    display block
  a
    font-size 19px
    font-weight 500
    letter-spacing -1px
    color #7978b1

.credit-list-item_rightpart
  float right
  width 70%
  .credit-list-elem
    font-size 18px
    color #69696a
    font-weight 300
    padding-left 30px
    padding-right 30px
    padding-top 2px
    padding-bottom 4px
    letter-spacing 0
    line-height 33px

.b-main.m-orgoverdraft
  margin-top -23px
  padding-bottom 90px

.credit-list-elem:nth-child(even)
  background-color #f5f5f5

.vklad
  &.active
    .vklad-name
      color #e67e22

.memory
  width 210px
  .memory-item
    padding-left 78px
    margin-bottom 40px
    margin-top -6px
    position relative
    &.calendar-link,
    &.order-link
      margin-top 45px
    .memory-item-text
      width 160px
      display inline-block
      line-height 23px
      margin-bottom 12px
    .down-link
      text-transform uppercase
      text-decoration none
      color #7978b1
      font-weight 500
      display block
      font-size 12px
      &:before
        content ''
        display inline-block
        vertical-align middle
        width 12px
        height 16px
        background url("../blocks/images/down.png") no-repeat
        background-size cover
        margin-right 7px
    &.m-doc:before
      content ''
      position absolute
      width 32px
      height 32px
      background url(../blocks/images/svg/doc_64x64.svg)no-repeat
      left 30px
      top 6px
      background-size cover
    &.m-pdf:before
      content ''
      position absolute
      width 32px
      height 32px
      background url(../blocks/images/svg/pdf_64x64.svg)no-repeat
      left 30px
      top 6px
      background-size cover
    &.m-zip:before
      content ''
      position absolute
      width 32px
      height 32px
      background url(../blocks/images/svg/zip_64x64.svg)no-repeat
      left 30px
      top 6px
      background-size cover
    &.order-link:before
      content ''
      position absolute
      width 32px
      height 32px
      left 32px
      top -5px
      background-size cover
      background url("../blocks/images/svg/list_32x32.svg") no-repeat
    &.calendar-link:before
      content ''
      position absolute
      width 32px
      height 32px
      left 30px
      background-size cover
      background url("../blocks/images/svg/note_32x32.svg") no-repeat
      top -7px


a
  color #7978b1