.form-quiz
  margin-bottom 7px
  min-height 45px
  .form-lebel-text
    display inline-block
    vertical-align middle
    width 175px
    font-weight 500
    font-size 18px
    &.maxi
      width 348px
  .checkbox-wrap
    display inline-block
    vertical-align middle

.contacts-blocks1 svg {
  display: none;
}

.vklad-list
  padding-top 44px
  margin-bottom 60px
  .vklad-elem
    float left
    text-align center
    margin-bottom 20px
    .vklad-ico
      display: inline-block;
      width: 110px;
      height: 110px;

      svg
        width 110px
    .vklad-name
      display block
      font-weight 500
      color #7978b1
      font-size 18px
      margin-top 20px



.onoffswitch
  position relative
  width 90px
  -webkit-user-select none
  -moz-user-select none
  -ms-user-select none
  display inline-block
  vertical-align middle

.onoffswitch-checkbox
  display none

.onoffswitch-label
  overflow hidden
  position relative
  width 74px
  cursor pointer
  border 1px solid #d3d3d3
  border-radius 20px

.onoffswitch-inner
  display block
  width 200%
  margin-left -100%
  -moz-transition margin 0.3s ease-in 0s
  -webkit-transition margin 0.3s ease-in 0s
  -o-transition margin 0.3s ease-in 0s
  transition margin 0.3s ease-in 0s

.onoffswitch-inner:before,
.onoffswitch-inner:after
  display block
  float left
  width 50%
  height 30px
  padding 0
  line-height 30px
  font-size 14px
  color white
  -moz-box-sizing border-box
  -webkit-box-sizing border-box
  box-sizing border-box

.onoffswitch-inner:before
  content "Да"
  padding-left 10px
  background-color #FFFFFF
  color #000

.onoffswitch-inner:after
  content "Нет"
  padding-right 10px
  background-color #FFFFFF
  color #000
  text-align right

.onoffswitch-switch
  display block
  width 26px
  margin 2px
  height 26px
  border-radius 20px
  position absolute
  top 0
  background #E67E22
  bottom 0
  right 42px
  -moz-transition all 0.3s ease-in 0s
  -webkit-transition all 0.3s ease-in 0s
  -o-transition all 0.3s ease-in 0s
  transition all 0.3s ease-in 0s

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner
  margin-left 0

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch
  right 0
  background #2ecc71
