flexbox(value)
  // Initializing a flexbox container
  display -webkit-box      /* OLD - iOS 6-, Safari 3.1-6 */
  display -moz-box         /* OLD - Firefox 19- (buggy but mostly works) */
  if value == inline-flex
    display -ms-inline-flexbox      /* TWEENER - IE 10 */
    display -webkit-inline-flex     /* NEW - Chrome */
    display value                   /* NEW, Spec - Opera 12.1, Firefox 20+ */
  else if value == flex
    display -ms-flexbox       /* TWEENER - IE 10 */
    display -webkit-flex      /* NEW - Chrome */
    display flex              /* NEW, Spec - Opera 12.1, Firefox 20+ */

flex(size = null, grow = 0, shrink = 0, basis = auto)
  // For configuring the flex elements
  -webkit-box-flex grow
  -moz-box-flex grow
  if size != null
    width size
  -webkit-flex grow shrink basis
  -ms-flex grow shrink basis
  flex grow shrink basis

flex-direction(value)
  // Implementation of flex-direction attributes.
  if value == row
    -webkit-box-direction normal
    -moz-box-direction normal
    -webkit-box-orient horizontal
    -moz-box-orient horizontal
  else if value == row-reverse
    -webkit-box-direction reverse
    -moz-box-direction reverse
    -webkit-box-orient horizontal
    -moz-box-orient horizontal
  else if value == column
    -webkit-box-direction normal
    -moz-box-direction normal
    -webkit-box-orient vertical
    -moz-box-orient vertical
  else if value == column-reverse
    -webkit-box-direction reverse
    -moz-box-direction reverse
    -webkit-box-orient vertical
    -moz-box-orient vertical
  -webkit-flex-direction value
  -ms-flex-direction value
  flex-direction value

flex-wrap(value)
  // Implementation of the flex-wrap attribute.
  -webkit-flex-wrap value
  -ms-flex-wrap value
  flex-wrap value

flex-justify(value)
  // Implements the justify-content settings.
  if value == start || value == end
    -webkit-box-pack value
    -moz-box-pack value
    -webkit-justify-content flex-+value
    -ms-flex-pack value
    justify-content flex-+value
  else if value == center
    -webkit-box-pack value
    -moz-box-pack value
    -webkit-justify-content value
    -ms-flex-pack value
    justify-content value
  else if value == space-between
    -webkit-box-pack justify
    -moz-box-pack justify
    -webkit-justify-content value
    -ms-flex-pack justify
    justify-content value
  else if value == space-around
    -webkit-box-pack justify
    -moz-box-pack justify
    -webkit-justify-content value
    -ms-flex-pack distribute
    justify-content value

flex-content(value)
  // Implements the align-content settings
  if value == space-around
    -webkit-align-content value
    -ms-flex-line-pack distribute
    align-content value
  else if value == space-between
    -webkit-align-content value
    -ms-flex-line-pack justify
    align-content value
  else if value == end or value == start
    -webkit-align-content flex-+value
    -ms-flex-line-pack value
    align-content flex-+value
  else
    -webkit-align-content value
    -ms-flex-line-pack value
    align-content value

flex-align(value)
  // Function for align-items
  if value == start or value == end
    -webkit-box-align value
    -moz-box-align value
    -webkit-align-items flex-+value
    -ms-flex-align value
    align-items flex-+value
  else
    -webkit-box-align value
    -moz-box-align value
    -webkit-align-items value
    -ms-flex-align value
    align-items value

flex-self(value)
  // Function for aligning the flex elements (align-self)
  if value == start or value == end
    -webkit-align-self flex-+value
    -ms-flex-item-align value
    align-self flex-+value
  else
    -webkit-align-self value
    -ms-flex-item-align value
    align-self value

flex-group(value)
  // Manages ordering of the flex elements within a container
  -webkit-box-ordinal-group value
  -moz-box-ordinal-group value
  -ms-flex-order value
  -webkit-order value
  order value

flex-firefox()
  // Helper to manage inline bugs in legacy Firefox
  width 100%
  -moz-box-sizing border-box