@import 'nib'

.b-head
  box-sizing border-box
  overflow hidden
  position relative
  willchange  background
  transition background .5s linear
  &.m-internetbank
    padding-top 810px
  &:before
    content ''
    width 300px
    position absolute
    height 100%
    top 0
    z-index 1
    background linear-gradient(to right, rgba(0,0,0,0.5) 50%,rgba(0,0,0,0) 100%)
  &:after
    content ''
    position absolute
    z-index 1
    height 300px
    width 100%
    background linear-gradient(to bottom, rgba(0,0,0,0) 35%,rgba(0,0,0,.5) 100%)

.undercalc {
  font-size: 12px;
  opacity: .4;
  text-align: center;
  padding-top: 20px;
}

.oldnew {
  color: inherit;
  position: absolute;
}

#superForma label.checkbox-inline input {
  height: auto;
}

.b-head__cover
  position absolute
  width 100%
  top 0
  left 0
  &.m-dark
    -webkit-filter brightness(.4)
    filter brightness(.4)
  z-index -1

.b-head__top
  position absolute
  right 30px
  top 30px
  z-index 3
  cursor pointer

.b-head__top-item
    font-family "Roboto"
    font-weight 600
    font-size 14px
    background-color #fff
    border-radius 25px
    padding 13px 23px
    text-transform uppercase
    margin-left 7px
    vertical-align top
    color inherit
    text-decoration none
    &.m-lupa
      border-radius 50%
      padding 10px 13px
      .glyphicon
        font-size 22px

.b-menu__inner_link
  color #fff
  font-weight 300
  font-size 16px

.b-menu__inner
  transition transform 2s
  ul
    padding-left 27px
  li
    list-style none
    line-height 28px
    position relative
    width 150px
    &:hover
      a
        text-decoration none
        color #b3e1ff
      .b-menu__morenav
        opacity 1
    &.active
      .b-menu__inner_link
        text-decoration none
        font-weight 400
        color #b3e1ff

.b-head__bottom
  position absolute
  z-index 2

.b-head__additional
    width 930px !important
    margin 0 auto

.menu__handle
  margin-bottom 40px

.main-logo
//  background url("../blocks/logo_mpb.png") no-repeat
//  background-size cover
  display inline-block
  width 103px
  height 66px
  vertical-align bottom
  margin-right 26px
  svg
    max-width 100%
    max-height 100%
    float left


.menu__handle
  span
    font-size 24px
    color #fff
    position relative
    top 2px

.b-enter
  position absolute
  top 320px
  z-index 10
  width 780px
  margin-left -390px;
  left 50%
  font-weight 300
  text-align center
  .b-enter-item
    margin-bottom 20px
  .b-enter-head
    font-size 48px
    color #fff
    margin-bottom 48px
  .b-enter-inputgroup
    position relative
    input
      width 610px
      height 70px
      text-indent 20px
      margin-bottom 30px
      font-size 24px
      color #292a2c
      &::-webkit-input-placeholder
        color #292a2c
      &::-moz-placeholder
        color #292a2c /* Firefox 19+ */
      &:-moz-placeholder
        color #292a2c/* Firefox 18- */
      &:-ms-input-placeholder
        color #292a2c
    .forget
      position absolute
      right 30px
      bottom 55px
      color #7978b1
      font-size 14px

.b-button
  &.enterbank
    width 332px
    height 80px
    margin-top 19px
    padding 40px 5px
    text-transform inherit
    font-size 24px
    font-weight 400
    box-sizing border-box
    line-height 0
    border-radius 45px
    &.enterbank-red
      background #cf142b
      color #fff

.b-enter-item
  .b-button.m-white.enterbank
    width 390px

@media (max-width: 376px)
  .b-enter-item
    .b-button.m-white.enterbank
      width auto !important
      font-size 14px
      padding 25px 20px

.b-enter-item
  .toStore,
  .toPlay
    margin-top 29px
.toStore
  background url("../blocks/images/getStore.png") no-repeat
  background-size cover
  margin-right 7px
.toPlay
  background url("../blocks/images/getPlay.png") no-repeat
  background-size cover
.toStore,
.toPlay
  width 120px
  height 41px


.b-orders
  background #f5f5f5
  padding 62px 0 150px
  text-align center
  .b-orders-title
    font-family "Roboto"
    font-weight 300
    font-size 30px
    margin-bottom 19px
  .b-orders-subtitle
    font-size 18px
    margin-bottom 42px
  .b-orders-inputgroup
    max-width 930px
    margin 0 auto
    input
      width 930px
      height 60px
      text-indent 20px
      margin-bottom 30px

.b-button.m-white.nextstep
  margin-left auto
  margin-right 0
  margin-top 25px
  font-weight 300
  float right
  span
    font-weight 500

.formstep
  display none
  &.active
    display block

.b-menu__morenav
  position absolute
  width 727px
  z-index 1
  top 0
  left 180px
  &:before
    content ''
    width 185px
    position absolute
    height 1px
    background-color rgba(255,255,255,.3)
    top 27px
    left -185px
  &:after
    width 100%
    height 0
    visibility hidden
    overflow hidden
    content ''
    display inline-block
  .b-menu__morenav_link
    line-height 18px
    height 28px
    width 240px
    display inline-block
    padding 5px
    text-decoration none
    color #b3e1ff
    cursor pointer
    &.active
      color #fff
  .b-menu__navwrap
    height 28px
    border-bottom 1px solid rgba(255,255,255,0.3)
    &:last-child
     border none

.b-head__top-item
  .m-allbank
    padding-right 18px
    line-height 20px
  .glyphicon-menu-hamburger
    font-size 20px
    vertical-align top
    margin-right 13px
    line-height 18px
    font-weight bold

.bank-container
  max-width 930px
  margin-right auto
  margin-left auto

.b_breadcrumbs
  a
    color #7978b1
    font-size 18px
    font-weight 300
  i
    font-size 10px
    margin 10px
    top -2px

.ghost
  overflow hidden
  width 110%
  height 520px

.b-head__top-item
  &.m-lupa
    background-color transparent
    .glyphicon
      font 19px/23px 'Glyphicons Halflings'
      z-index 10
      pointer-events none

.m-allbank
  svg
    margin-right 8px
    vertical-align inherit
    margin-top 1px


.b-copyright
  font 300 14px/20px 'Roboto'
  margin-top 15px
  color #a3a3a3


.js-allbank-section-hide
  display inline-block
  font-size 14px
  text-transform uppercase
  color #ababab
  cursor pointer
  padding-left 19px
  margin-left 19px
  border-left 1px solid #ababab


.p-nav
  -webkit-box-shadow 0 -4px 24px 3px rgba(0,0,0,0.3)
  -moz-box-shadow 0 -4px 24px 3px rgba(0,0,0,0.3)
  box-shadow 0 -4px 24px 3px rgba(0,0,0,0.3)
  z-index 300
  position absolute
  width 100%
  background-color #fff
  -moz-transform translateY(-100%)
  -webkit-transform translateY(-100%)
  transform translateY(-100%)
  &.showinie
    transform translate(0, 0)
    .allbank-text-item
      .allbank-text-title
        display inline-block
        vertical-align top
        width 30%
  &.show
    -moz-animation-name bounce
    -webkit-animation-name bounce
    animation-name bounce
    -moz-animation-duration 1s
    -webkit-animation-duration 1s
    animation-duration 1s
    -moz-animation-fill-mode both
    -webkit-animation-fill-mode both
    animation-fill-mode both
    -moz-animation-timing-function ease-in
    -webkit-animation-timing-function ease-in
    animation-timing-function ease-in
  .b-head__bottom
    top 5px
    left 5px
  .b-head__top-item
    box-shadow 0 3px 4px #dadada
  .menu__handle
    span
      color #000

@-moz-keyframes bounce {
  0% {
    -moz-transform: translateY(-100%);
  }
  50%, 80%, 100% {
    -moz-transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-60px);
  }
  60% {
    -moz-transform: translateY(-30px);
  }
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-100%);
  }
  50%, 80%, 100% {
    -webkit-transform: translateY(0);
  }
  40% {
    -webkit-transform: translateY(-60px);
  }
  60% {
    -webkit-transform: translateY(-30px);
  }
}

@keyframes bounce {
  0% {
    -moz-transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    transform: translateY(-100%);
  }
  50%, 80%, 100% {
    -moz-transform: translateY(0);
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  40% {
    -moz-transform: translateY(-60px);
    -webkit-transform: translateY(-60px);
    transform: translateY(-60px);
  }
  60% {
    -moz-transform: translateY(-30px);
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px);
  }
}

.b-title-vacance
  font-weight 300
  font-size 48px

.b-map-details
  padding 50px 45px 50px 45px
  .b-map-details-subtext,
  .b-map-details-tel
    padding-left 45px
  .b-map-details-title
    color #2e2f31
    margin-bottom 9px
    text-transform uppercase
    font-size 24px
  .b-map-details-subtitle
    color #69696a
    font-size 16px
    font-weight 300
    line-height 24px
    margin-bottom 14px
  .b-map-details-text
    color #292a2c
    font-size 14px
    font-weight 300
    line-height 24px
    margin-bottom 30px
    max-width 80%
  .tel-ico
    background url('../blocks/images/tel.png')no-repeat
  .time-ico
    background url('../blocks/images/clock.png')no-repeat
  .tel-ico,
  .time-ico
    width 30px
    height 51px
    display block
    float left
    margin-right 16px
    background-size contain
  .b-map-details-tel
    margin-bottom 25px
    span
      color #2e2f31
      text-transform uppercase
      font-size 24px


.allbank-text
  -webkit-column-count 3
  -moz-column-count 3
  column-count 3
  margin-bottom 95px
  position relative
  padding-top 170px

  .allbank-text-title
    margin-bottom 19px
  &.js-toRight
    position absolute
    transform translate(2000px,0)
  .allbank-text-title
    &>a
      font-size 16px
      line-height 24px
      color #292a2c
    ul
      list-style none
      margin-top 8px
      margin-bottom 12px
      padding-left 19px
      li
        margin-bottom 8px
        a
          font-size 14px
          color #7978b1
          font-weight 300
          letter-spacing -1px

.js-destroy
  display none !important

.super-form
  position absolute
  top 50px
  width 930px
  display none
  left 50%
  transform translate(-50%,0)
  background-color #f5f5f5
  .superform-label
    font-size 18px
    font-weight 500
    color #292a2c
    vertical-align middle
    display inline-block
  .superform-select
    height 40px
    border 1px solid #e0e0e0
    padding-left 10px
    display inline-block
    vertical-align middle

#overlay
  position fixed
  width 100%
  top 0
  height 100%
  z-index 1000
  cursor pointer
  background-color rgba(0,0,0,0.8)
  .imagewrap
    position absolute
    top 50%
    left 50%
    transform translate(-50%,-50%)
    .close-overlay
      font-size 30px
      color #000
      line-height 30px
      display inline-block
      position absolute
      top 0
      right 0


input[type=radio].css-checkbox {
  position:absolute;
  z-index:-1000;
  left:-1000px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height:1px;
  width:1px;
  margin:-1px;
  padding:0;
  border:0;
}

input[type=radio].css-checkbox + label.css-label {
  padding-left:26px;
  height:21px;
  display:inline-block;
  line-height:18px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:18px;
  vertical-align:middle;
  cursor:pointer;
  margin: 0 18px;
}

input[type=radio].css-checkbox:checked + label.css-label {
  background-position: 0 -21px;
}
label.css-label {
  background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_25b2b4b950cb8eac7df75fcef63d15e0.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.half
  width 450px
  margin-right 29px
  float left
  &.even
    margin-right 0
  input
    width 100%


.strahovye-produkty
  .b-section
    padding-top 59px
    .b-title-light
      font-size 36px
      margin-bottom 21px
    .b-subtitle
      width 710px
      margin 0 auto 57px
      line-height 25px

#factadress{
  width: 229px;
}

.halfa input {
  width: 100%;
}

#scheene{
  position: absolute !important;
  top: 0;
  width: 100%;
  height: 100%;
}

.b-page__container.parallax-viewport {
  overflow: hidden;
  position: relative;
}
