#wrap {
  display: inline-block;
  position: relative;
  float: right;
  padding: 0;
  top: -9px;
  height: 25px;
  width: 14px;
}

.m-lupa input[type="text"] {
  height: 45px;
  font-size: 14px;
  display: inline-block;
  font-weight: 100;
  border: none;
  outline: none;
  color: #555;
  padding: 3px;
  border-radius: 50%;
  padding-right: 45px;
  width: 0;
  position: absolute;
  top: 0;
  right: 0;
  background: #fff;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

.m-lupa input[type="text"]:focus:hover {
  border-bottom: 1px solid #BBB;
}

.m-lupa input[type="text"]:focus {
  width: 700px;
  z-index: 1;
  border-bottom: 1px solid #BBB;
  cursor: text;
  border-radius: 0;
}
.m-lupa input[type="submit"] {
  height: 45px;
  width: 45px;
  display: inline-block;
  color:red;
  float: right;
  text-indent: -10000px;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0;
  transition: opacity .4s ease;
}

.m-lupa input[type="submit"]:hover {
  opacity: 0.8;
}