.b-section.b-news-item
  padding-top 67px
  .b_breadcrumbs
    margin-bottom 32px

.b-contacts
  margin-top 39px
  margin-bottom 90px
  min-height 125
  .contacts-blocks1
    width 126px
    height 126px
    background url(../blocks/images/bigmarker.png)no-repeat
    position relative
    top -15px

  .contacts-blocks3
    float right
    min-width 210px
    .blocks3-link
      display block
      font-size 18px
      font-weight 300
      margin-bottom 18px
      line-height 31px
      color #7978b1
      text-decoration none
      span
        text-decoration underline
      .office-ico
        width 50px
        margin-right 16px
  .contacts-blocks2
    p
      font-weight 300
      font-size 18px
      margin-bottom 4px
      span
        font-weight 500
      a
        color #7978b1
  .contacts-blocks1,
  .contacts-blocks2,
  .contacts-blocks3
    display inline-block
    vertical-align top


$Scolor = #7978b1

.b-orgservices_credit
  margin-top 45px
  margin-bottom 58px
  .b-orgservices_credit-ico
    margin-bottom 22px
  .b-orgservices_credit-title
    margin-top 13px
    font-size 18px
  .b-orgservices_credit-subtitle
    margin-top 6px
    line-height 24px

.credit-text
  width 610px
  margin-top 30px
  font-size 18px
  line-height 30px
  color #69696a

.b-report-table-row
  padding 30px 0
  border-top 1px solid #e0e0e0
  &.withBtn
    border-bottom 1px solid #e0e0e0
    text-align center
  .b-report-table-cell
    display inline-block
    vertical-align top
    &.m-left
      width 610px
      text-align left
      float left
      color #69696a
      font-size 18px
      font-weight 300
      line-height 30px
    &.m-right
      width 160px
      float right
      text-align right
      .b-report-link
        font-size 18px
        font-weight 300
        text-decoration none
        color $Scolor
        span
          text-decoration underline

.b-report-link-ico
  display inline-block
  vertical-align middle
  width 30px
  height 30px

.mpb-soprletter
  resize none
  height 150px
  margin 30px 0 20px
  width 100%
  padding 13px 16px
  border 1px solid #e0e0e0
  font-size 16px
  color #69696a
  font-weight 300
  &:focus
    outline none

.b-report-table_wrap
  margin-top 55px
  margin-bottom 50px

.b-button
  &:hover
    text-decoration none !important

.file_upload_only
  position relative
  overflow hidden
  margin-bottom 70px
  input
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    letter-spacing 10em
    -ms-transform scale(20)
    opacity 0
    cursor pointer

.b-job
  position relative
  text-align center
  padding-top 70px
  padding-bottom 70px


.job-popup
  width 100%
  padding-top 30px
  position absolute
  display none
  z-index 3
  bottom 0
  background-color #f5f5f5
  #superForma
    height 660px
  .mpb-form-title
    font-weight 300
    font-size 36px
  .mpb-form-subtitle
    font-weight 300
    font-size 18px
    margin-top 3px
    margin-bottom 27px

  .job-popup_close
    font-size 40px
    right 28px
    top 28px
    position absolute
    cursor pointer
    background url(../blocks/images/closevac.png)
    width 32px
    height 32px

.mpb-form-row.mpb-form-row-phone-mobile.mpb-form-row-short293
  width 450px
  margin-right 26px
  box-sizing border-box
  display inline-block
  text-align left
  position relative


.mpb-form-row.mpb-form-row-email.mpb-form-row-short293
  width 450px
  box-sizing border-box
  text-align left
  display inline-block

span.mpb-form-row-field
  position absolute
  top 13px
  left 18px

.mpb-form-row
  position relative
  margin-bottom 30px
.mpb-form-label
  font-weight 300
  font-size 16px

.mpb-form-input-field
  INPUT
    width 100%
    line-height 46px
    border 1px solid #e0e0e0
    font-size 16px
    color #69696a
    font-weight 300
    padding-left 5px
    &::-webkit-input-placeholder
      color #69696a
      font-weight 300
    &::-moz-placeholder
      color #69696a
      font-weight 300
    &:-moz-placeholder
      color #69696a
      font-weight 300
    &:-ms-input-placeholder
      color #69696a
      font-weight 300

.file_upload
  position relative
  overflow hidden
  font-size 1em       /* example */
  line-height 2em       /* the same as height */
  .fa-paperclip
    transform rotateX(180deg)
    font-size 18px
    margin-right 5px

.file_upload > button
  float right
  width 12em         /* example */
  height 100%

.file_upload > div
  padding-left 1em
  text-align left
  background-color #fff
  line-height 48px
  color #69696a   /* example */
  font-size 16px
  font-weight 300
  border: 1px solid #e0e0e0;

@media only screen and ( max-width: 500px ) /* example */
  .file_upload > div
    display none

  .file_upload > button
    width 100%


.file_upload input[type=file]
  position absolute
  left 0
  top 0
  width 100%
  height 100%
  transform scale(20)
  letter-spacing 10em     /* IE 9 fix */
  -ms-transform scale(20) /* IE 9 fix */
  opacity 0
  cursor pointer

.mpb-req
  position absolute
  right 18px
  font-size 18px
  top 14px

.file_upload.focus
  box-shadow 0 0 5px rgba(0,30,255,0.4)

.file_upload > button
  background #fa8085
  transition background 0.2s
  border none
  color #fff
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
  height 48px

.file_upload:hover > button
  background #fa8085

.file_upload:active > button
  background #5d00b3


.credit-info
  background #f5f5f5
  padding 47px 30px
  margin-bottom 50px
  font-weight 300
  color #69696a
  .text
    font-size 14px
    line-height 30px
  .tel
    color #292a2c
    font-size 24px
  .dobtel
    font-size 18px

#chuvi
  margin-bottom 32px
  margin-left 5px

.b-chlens
  margin-top 36px
  margin-bottom 100px
  .b-chlens_item
    float left
    width 20%
    text-align center
    white-space pre-line
    .b-chlens_item-link
      font-size 18px
      color #7978b1
      display inline-block
      width 87%
      line-height 24px
    .b-chlens_item-imagewrap
      height 100px
      width 220px
      display table-cell
      vertical-align middle
      .b-chlens_item-img
        height 100%

.b-main.m-orgoverdraft {
  margin-top: -23px;
  padding-bottom: 0;
}

section.b-section.b-openinfo {
  margin-top: 35px;
  margin-bottom: 35px;
  padding-top: 0;
}

section.b-main.b-openinfo {
  padding-top: 0;
}

.mpb-cont
  text-align left
  margin-top 37px
  margin-bottom 100px
  .b-newtext
    font-size 18px
    font-weight 500
    line-height 30px
  &.withoutMemory
    .credit-list,
    .b-text
      width auto

.a-consumer
  margin-bottom 90px

.b-license_slider
  background-color #f5f5f5
  position relative
  height 652px
  padding-top 60px
  .b-license_slider-prev
    left 0
    transform rotate(180deg);
  .b-license_slider-next
    right 0
  .b-license_slider-prev,
  .b-license_slider-next
    position absolute
    top 0
    cursor pointer
    z-index 5
    height 100%
    width 170px
    background url("../blocks/images/lic-arr.png") no-repeat scroll center center
  .b-license_slider-head
    font-size 30px
    font-weight 300
    text-align center
    margin-bottom 36px

  .b-license_slider-item-wrap
    height 509px
    -webkit-transform translateX(-50%)
    -moz-transform translateX(-50%)
    transform translateX(-50%)
    display inline
    white-space nowrap
    overflow hidden
    position absolute
    left 50%
    .b-license_slider-item
      width 130px
      height 523px
      margin-right 30px
      display inline-block
      vertical-align top
      white-space normal
      .js-image
        width 130px
        height 180px
      .b-license_slider-item-text
        font-size 14px
        text-align center
        font-weight 300
        margin-top 30px

.b-title-light
  font-weight 300
  font-size 48px
  line-height 48px
  color #292a2c
  text-align center
  margin-bottom 44px

.b-subtitle-reg
  font-weight 400
  font-size 18px
  line-height 24px
  color #292a2c
  margin-bottom 28px

.b-text-light
  color #69696a
  font-weight 300
  font-size 18px
  line-height 24px
  margin-bottom 24px

.diagramma
  margin-top 85px
  width 930px

.diagramma svg {
  width: 930px;
  height: 420px;
  min-height: 600px;
}

.diagramma path.slice{
  stroke-width:2px;
}

.diagramma polyline{
  opacity: .3;
  stroke: #69696a;
  stroke-width: 2px;
  fill: none;
}

.diagramma svg text{
  fill: #69696a;

  font-weight: 300;
}

.diagramma svg tspan {
  font-weight: 500;
  stroke: #282828;
}

.diagramma tspan > tspan {
  font-weight: 500;
  stroke: #282828;
}

.mpb-cont .b-text
  color #69696a
  font-weight 300
  width 690px

.btabs
  display none
  &.active
    display block

table
  width 100%
  margin 20px 0
  border none
  thead,
  tbody
    tr
      width 100%
      border-top 1px solid #e0e0e0
      border-left none
      border-right none
      th,
      td
        color #69696a
        font-size 14px
        border-left none
        border-right none
        font-weight 300
        padding 20px 0
        line-height 18px
        text-align center
        p
          margin-bottom 0