input
  border none
  text-indent 10px
  &:focus
    outline none

.b-main
  max-width 930px
  margin 0 auto
  text-align center
  padding-top 70px
  .b-title.m-thin
    font-weight 300
  &.m-main
    padding-top 39px
    .b-title
      font-weight 300
    .b-subtitle
      font 300 18px/18px 'Roboto'
      color #69696a
  .b-title
    font-size 36px
  .b-subtitle
    font 300 18px / 24px 'Roboto'
    color #69696a
  .b-button
    margin-bottom 75px
  .b-text
    max-width 930px
    font-family Roboto
    font-size 18px

.b-service
  text-align: left
  margin-bottom 41px
  font-size 18px
  overflow hidden
  margin-top 36px
  clear both
  height 480px
  transition height .5s
  .b-service-left
    float left
    max-width 45%
  .b-service-right
    max-width 45%
    float right
  &.m-min
    height 180px
  .b-service-head
    margin-bottom 11px
    font-weight 600
  .b-service-link
    display block
    color #8988ba
    line-height 37px

.b-main-slider
  width 100%
  height 400px
  overflow hidden
  .b-main-slider-list
    position relative
    transition 1.5s top
    will-change top
    top 0
  .b-main-slider-buttons
    position relative
    top 140px
    left 50px
    z-index 1
  .b-main-slider-buttonleft,
  .b-main-slider-buttonright
    width 50px
    height 50px
    border-radius 50%
    background #fff
    text-align center
    margin-bottom 20px
    cursor pointer
    line-height 53px
    i
      color #000
  .b-main-slider-buttonleft
    position absolute
  .b-main-slider-buttonright
    position absolute
    top 70px
  .b-main-slider-item
    height 400px
    text-align center
    overflow hidden
    width 100%
    padding-top 90px
    box-sizing border-box
    position relative
    transition 1s top
    &.active
      .b-main-slider-content,
      .b-button
        margin-top 0 !important

    &.up-child
      .b-main-slider-content
        margin-top -500px
      .b-button
        margin-top -300px

    &.down-child
      .b-main-slider-content
        margin-top 300px
      .b-button
        margin-top 500px
    .b-main-slider-picture
      position absolute
      width 100%
      height 100%
      display -webkit-box
      display -webkit-flex
      display -ms-flexbox
      display flex
      z-index -1
      left 0
      top 0
      transition 1s all
      img
        width 100%
        -o-object-fit cover
        object-fit cover
        -webkit-filter brightness(.8)
    .b-main-slider-head
      font-family "Roboto"
      font-weight 100
      margin-bottom 30px
      font-size 48px
      color #fff
    .b-main-slider-content
      transition 1s margin
    .b-main-slider-text
      font-family "Roboto"
      font-weight 300
      font-size 24px
      color #fff
      max-width 720px
      margin 0 auto
    .b-button
      transition 1.2s margin
      position absolute
      left 50%
      margin-left -60px
      top 290px

.b-table
  font-size 18px
  font-family "Roboto"
  text-align left
  margin-bottom 40px
  .b-table-head
    text-align center
    font-size 30px
    font-weight 300
    margin-bottom 30px
  .b-table-row
    display flex
    padding 30px 0
    border-top 1px solid #e0e0e0
    &:last-child
      border-bottom 1px solid #e0e0e0
    .b-table-cell
      float left
      &.m-left
        width 30%
        font-weight 400
        padding-right 10px
        box-sizing border-box
      &.m-right
        width 70%
        white-space pre-line
        font-weight 300
        padding-right 11%



.b-table-contacts
  font-size 18px
  font-family "Roboto"
  text-align left
  margin-bottom 40px
  .b-table-contacts-head
    text-align center
    font-size 30px
    font-weight 300
    margin-bottom 30px
  .b-table-contacts-row
    display block
    padding 30px 0
    border-top 1px solid #e0e0e0
    &:last-child
      border-bottom 1px solid #e0e0e0
    .b-table-contacts-cell
      float left
      &.m-left
        width 720px
        font-weight 300
        padding-right 10px
        box-sizing border-box
        font-size 18px
        color #69696a
      &.m-right
        width 210px
        white-space pre-line
        font-weight 500

.b-title-contacts
  font-size 48px !important
  margin-top 84px


.b-news
  padding-top 78px
  padding-bottom 69px
  background-color #f5f5f5
  text-align center
  .b-news-head
    font-size 36px
    font-family "Roboto"
    font-weight 300
    margin-bottom 60px
  .b-news-list
    max-width 930px
    margin 0 auto
    text-align justify
    margin-bottom 28px
    &::after
      width 100%
      height 0
      visibility hidden
      overflow hidden
      content ''
      display inline-block
    .b-news-item
      text-align left
      display inline-block
      vertical-align top
      margin-bottom 20px
      .b-news-date
        font-size 16px
      .b-news-link
        color #7978b1
        font-size 16px
        font-weight 300
        text-align left

.b-advantages
  max-width 930px
  margin 0 auto
  padding-bottom 95px
  padding-top 60px


  .b-advantages-picture
    width 152px
    height 145px
    margin 10px auto 33px
    overflow hidden

  .b-advantages-link
    color #7978b1

.b-mainnews
  .b-mainnews-list
    text-align justify
    &::after
      width 100%
      height 0
      visibility hidden
      overflow hidden
      content ''
      display inline-block
  .b-mainnews-picture
    max-height 140px
    display flex
    overflow hidden
    margin-bottom 23px
    img
      object-fit cover
  .b-mainnews-item
    display inline-block
    width 32%
    vertical-align top
    padding-right 6%
    margin-bottom 50px
    text-align left
  .b-mainnews-date
    margin-top 5px
  .b-mainnews-link
    font-size 16px
    line-height 30px
    font-weight 300
    color #7978b1


.headext
  margin 0 auto
  max-width 930px
  height 260px
  position relative
  z-index 2
  transition transform 2s
  box-sizing border-box
  text-align justify
  font-size 0
  -ms-text-justify distribute-all-lines
  text-justify distribute-all-lines
  &:after
    content ''
    display inline-block
    width 100%
  .headext-item
    width 130px
    height 130px
    display inline-block
    vertical-align top
    text-align center
    color #fff
    text-decoration none
    text-transform uppercase
    font-size 12px
    font-weight 400
    &:hover
      .headext-ico
        transform scale(1.2)
    .headext-ico
      display block
      width 60px
      height 60px
      transition transform 1s
      z-index -1
      margin 0 auto
    &:nth-child(1)
      .headext-ico
        background rgba(0, 0, 0, 0) url("../blocks/images/svg/icons_main_white.svg")300px 0
    &:nth-child(2)
      .headext-ico
        background rgba(0, 0, 0, 0) url("../blocks/images/svg/icons_main_white.svg")240px 0
    &:nth-child(3)
      .headext-ico
        background rgba(0, 0, 0, 0) url("../blocks/images/svg/icons_main_white.svg")180px 0
    &:nth-child(4)
      .headext-ico
        background rgba(0, 0, 0, 0) url("../blocks/images/svg/icons_main_white.svg")120px 0
    &:nth-child(5)
      .headext-ico
        background rgba(0, 0, 0, 0) url("../blocks/images/svg/icons_main_white.svg")60px 0
    .headext-text
      max-width 90px
      display inline-block
      margin-top 12px

.withPDF
  color #7978b1
  &:before
    content ''
    display inline-block
    width 24px
    height 24px
    background url(../blocks/about/ico-pdf.png)
    background-size cover
    vertical-align middle
    margin-right 10px

section.b-main.b-openinfo {
  padding-top: 0;
}

.toplayer
  position absolute
  bottom -2% !important
  height 105%
  background-size 100% !important

.map-marker {
  cursor: pointer;
}

.slide-disable{
  pointer-events: none;
  opacity:0.4;
  display: none !important;
}

#map-canvas
  &.m-offices
    transition 1s width
  &.m-terminal
    width  100%
    height 405px
  &.m-contacts
    width 100%
    height 350px
    margin-bottom 65px

.gm-style
  img
    max-width none !important

 .gmnoprint
   img
    max-width none !important


.b-contacts
  .b-title
    text-align center

button
  outline none
