.b-page
  font-family 'Roboto'
  overflow-x hidden

.m-dark:after
    content ''
    background-color rgba(0,0,0,0.4)
    position absolute
    width 100%
    height 200%
    top 0
    animation showWhite 1s alternate

.m-dark:before
  content ''
  background none !important

.b-head-title
  font-size 48px
  text-align center
  font-weight 300
  color #fff
  margin-top -100px
  position relative
  z-index 2
  margin-bottom 48px

.b-section
  max-width 930px
  padding-top 90px
  margin-bottom 90px
  margin-left auto
  margin-right auto
  .b-title
    font-family 'Roboto'
    font-weight 300
    color #292a2c
    text-align center
    font-size 48px
    margin 0
    margin-bottom 40px
  .b-subtitle
    font-family 'Roboto'
    color #292a2c
    text-align center
    font-size 18px
    margin 0
    margin-bottom 40px
    line-height 30px
  .b-text
    font-family 'Roboto'
    color #292a2c
    font-weight 300
    font-size 18px
    margin 0
  p
    margin-bottom 27px
  img
    max-width 100%
    margin 40px auto

footer
  background url("../blocks/images/back-footer.png") #292a2c
  .main-logo
    margin-left -25px
    svg
      position relative
      top -28px
  .footer-h2
    font-family 'Roboto'
    font-weight 300
    color #f5f5f5
    margin 0
    font-size 14px
  address
    display inline-block
    margin-bottom 22px
  .footer-col
    font-weight 300
    float left
  .footer-h
    font-family 'Roboto'
    font-weight 300
    color #f5f5f5
    font-size 26px
    margin 0
    margin-bottom 2px
  .footer-link
    font-family 'Roboto'
    font-weight 300
    color #cfd2e1
    font-size 14px
    display block
    margin-top 4px
    line-height 20px

.b-button
  font-family 'Roboto'
  font-weight 600
  font-size 14px
  border none
  line-height: 48px
  height 50px
  padding 0 20px
  border-radius 25px
  cursor pointer
  text-transform uppercase
  display inline-block
  text-decoration none !important
  &.m-uparrow
    &:after,
    &:before
      -webkit-transform rotate(180deg)
      -ms-transform rotate(180deg)
      transform rotate(180deg)
      margin-top -3px
  &.m-mortgage
    &:before
      content ''
      background: url(../blocks/images/mortgage-ico.png)
      width 25px
      height 34px
      display inline-block
      background-size cover
      vertical-align middle
      margin-right 10px
  &.m-white
    color #292a2c
    background #fff
  &.m-border
    border 3px solid #292a2c
  &.m-red
    color #fff
    background #cf142b
    line-height 52px !important
  &.danger
    margin-bottom 40px
  &.m-arrow
    position relative
    padding 0 40px
    &::after,
    &::before
      content '\e114'
      font-family 'Glyphicons Halflings'
      position absolute
    &::after
      right 20px
      top 0
      font-size 14px
      font-weight 100
    &::before
      left 20px
      top 0
      font-size: 14px
      font-weight: 100

#c-allnews
  visibility hidden
  -webkit-appearance checkbox

.read-more,
.checkers
 margin-bottom 83px
 label
   position relative
   vertical-align top
   left -10px
   &:before
     content ''
     width 18px
     height 18px
     border 1px solid #e0e0e0
     display inline-block
     margin-right 10px
   &:after
      content: '';
      width: 12px;
      height: 12px;
      position: absolute;
      top: 3px;
      /* z-index: 1; */
      left: 3px;
      background: #000;
      opacity: 0;
   &:hover::after
       opacity: 0.3
  input[type=checkbox]
    visibility hidden
    &:checked + label:after
      opacity 1


.b-news-readmore
  .b-button
    margin-bottom 20px !important
    margin-top 30px