.b-search
  margin-bottom 54px
  input
    font-size 16px
    height 50px
    box-sizing border-box
    -webkit-box-shadow inset 0 4px 0 0 rgba(0, 0, 0, 0.05)
    -moz-box-shadow inset 0 4px 0 0 rgba(0, 0, 0, 0.05)
    box-shadow inset 0 4px 0 0 rgba(0, 0, 0, 0.05)
    border 0.125em solid #d9d9d9
    color #595959
    padding 0 1.25em
    width 100%

.b-searchlist
  list-style none
  padding 0
  margin 0
  counter-reset myCounter
  .b-searchlist__item
    text-align left
    list-style none
    margin-bottom 50px
    &:before
      counter-increment myCounter
      content counter(myCounter) '.'
      color #b8b8b8
      font-size 14px
      font-weight 700
    .b-searchlist__item__head
      display inline-block
      color #7978b1
      text-transform uppercase
      font-size 14px
      margin-bottom 10px

    .b-searchlist__item__text
      color #222222
      font-size 14px
      line-height 24px
      margin-bottom 5px
      span
        font-weight 600

    .b-searchlist__item__link
      &::after
        content attr(href)
        font-size 12px
