@import 'flexbox'

html
  overflow-x hidden

.b-about
  max-width 930px
  margin 0 auto
  text-align center
  padding 70px 0

.b-commanders-list
  margin-bottom 60px
  flexbox(flex)
  flex-direction(row)
  flex-wrap(wrap)
  flex-justify(space-between)
  .b-commanders-item
    width 210px
    font-family "Roboto"
    margin-bottom 30px
    .b-commanders-title
      font-weight 400
      font-size 16px
    .b-commanders-subtitle
      font-weight 300
      font-size 14px
    .b-commanders-photo
      width 100%
      height 250px
      display flex
      overflow hidden
      margin-bottom 25px
      img
        object-fit cover



.b-commanders-head
  text-align left
  font-size 18px
  margin-bottom 30px

.second-line
  .b-commanders-list
    width 75%
  .b-commanders-info
    width 22%
    float right
    background-color #f5f5f5
    min-height 600px
    text-align center
    position relative
    padding 55px 25px 120px
    img
      margin-bottom 30px
    .b-commanders-info-text
      font-weight 300
      font-family "Roboto"
      font-size 14px
    .b-button
      bottom 40px
      margin-left -51px
      position absolute
      margin-bottom 0


.b-sertificate
  background #f5f5f5
  padding 70px 0
  text-align center
  .b-sertivicate-head
    font-size 30px
    font-weight 300
    margin-bottom 40px
  .b-sertivicate-list
    img
      height 200px
      margin 0 10px


.b-about
  &.b-section
    margin-bottom 0
  .b-text
    text-align center

.b-report
  max-width 930px
  margin 0 auto
  text-align center
  padding-bottom 40px
  padding-top 64px

.b-vacancies
  max-width 930px
  margin 0 auto
  text-align center
  padding 90px 0

.b-vacancies-list
  display -webkit-box
  display -webkit-flex
  display -ms-flexbox
  display flex
  -webkit-flex-flow row wrap
  -ms-flex-flow row wrap
  flex-flow row wrap
  -webkit-justify-content space-around
  -ms-flex-pack distribute
  justify-content space-around
  .b-vacancies-item
    background #f5f5f5
    width 450px
    padding 45px 50px 130px
    position relative
    margin-bottom 20px
    .b-vacancies-item-text
      font-family 'Roboto'
      font-weight 300
      font-size 24px
    .b-vacancies-list-button
      position absolute
      left 50%
      margin-left -107px
      bottom 50px
      margin-bottom 0


.credit-div
  max-width 930px
  margin 0 auto


.credit-menu
  background #fbfbfb
  padding 13px 0 30px
  display block
  .credit-menu-row
    white-space pre-line
    float left
    .credit-menu-link
      color #7978b1
      line-height 30px
      &.active
        background-color #fff
        border-radius 20px
        padding 8px 20px
        color #000
        text-decoration none
        margin-left -20px


.b-plitka
  display -webkit-box
  display -webkit-flex
  display -ms-flexbox
  display flex
  -webkit-flex-flow row wrap
  -ms-flex-flow row wrap
  flex-flow row wrap
  .b-plitka-item
    width 210px
    height 290px
    margin-right 20px
  &:nth-child(4n)
    margin-right none
  .b-plitka-ico
    width 100%
    height 160px
    display block

    .credit-menu-link
      color #7978b1
      font-family 'Roboto'
      font-weight 300
      font-size 18px

.b-orgservices_credit-item
  float left
  .b-orgservices_credit-ico
    display block

.b-orgservices
  .b-control
    height 220px
    background-color: #f5f5f5;
    padding-top 65px
    .b-title
      margin 0 0 20px 0
      text-align center
    .b-checkers
      text-align center
      font-weight 300
      font-size 14px
      color #7978b1
      a
        padding 0 15px
      .b-checkers-item
        display inline-block
        cursor pointer
        text-decoration underline
        height 35px
        &.active
          vertical-align middle
          line-height 35px
          background-color #fff
          border-radius 20px
          text-decoration none
          color #292a2c
  .b-title
    color #292a2c
    font-size 36px
    font-weight 300
  .b-subtitle
    color #292a2c
    font-size 18px
    margin-bottom 50px


.b-info
  float right
  width 23%
  background-color #f5f5f5
  margin-bottom 48px
  .b-info-text-head
    font-weight 300
    font-size 24px
    margin-top 26px
    line-height 30px
    margin-bottom 12px
  .b-info-text-content
    font-size 14px
    font-weight 300
    padding 0 28px 40px
    line-height 22px
    span
      font-weight 500
      white-space nowrap
      display inline-block
      text-align left
      margin-right auto
      margin-left auto
      &.m-tel
        font-size 20px
        margin-top 9px
      &.man-name
        margin-top 23px
        margin-bottom 22px
      &.m-tel2
        font-size 20px
        margin-top 21px

button.m-white.b-button.terminal
  margin-top 29px
  margin-bottom 17px

.b-job
  .b-button
    display inline-block

.noUi-value
  white-space nowrap

.b-openinfo
  .b-button
    margin-bottom 0 !important
    margin 0 auto
    width 200px
    text-align center
  .b-title
    font-size 48px
    font-weight 300
  .b-toomanylink
    text-align center
    padding 0 100px
    margin-bottom 60px
    .b-toomanylink-item
      color #7978b1
      font-size 14px
      font-weight 300
      padding 0 8px
      white-space nowrap
      line-height 30px

.m-withfile
  .m-left
    width 97% !important
    padding-right 17%
    font-weight 300 !important
  .m-right
    padding 0 !important
    flex-shrink 5
    width auto

.map-wrap
  position relative
  .b-map-details-arr
    content ''
    position absolute
    right 20px
    top 20px
    width 20px
    height 20px
    cursor pointer
    background url('../blocks/images/maparr.png')no-repeat
  .b-map-details-close
    content ''
    position absolute
    right 20px
    top 20px
    width 20px
    height 20px
    cursor pointer
    background url('../blocks/images/closer.png')no-repeat
  &.showmore
    .b-map-controls
      right 432px
    .b-map-details
      right 0
  .b-map-details
    position absolute
    right -430px
    top 0
    width 430px
    height 600px
    background #fff
    transition 1s right
  .b-map-controls
    position absolute
    right 0
    top 0
    background-color #fff
    right -50px
    padding 50px 45px
    transition 1s right
    .b-map-controls-inner
      overflow auto
    .map-marker-title
      font-size 16px
      color #2e2f31
      font-weight 500
      text-transform uppercase
    .map-marker-name
      text-decoration underline
    .map-marker
      &.main-bold
        font-weight 600
      color #7978b1
      font-size 16px
      font-weight 300
      margin 10px 0
      .map-marker-subtitle
        display block
        font-size 12px
        line-height 24px
        color #69696a